<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!--<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"-->
               <!--[template]="loadingTemplate"></ngx-loading>-->
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html"(click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh"(click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a  href="/qa-page" routerLinkActive="active"(click)="click()">Hỏi - Đáp</a></li>
          <!--<li><a (click)="click()">Liên hệ</a></li>-->

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<!-- ################################################################################################# -->
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <main class="hoc container clear all-tag" style="background-color: #f2f2f2;max-width: 75%;width: 100%;min-height: 500px;">


    <!--Content -->
    <div class="content three_quarter" style="margin-left: 0%;width: 100%;">
      <!--Content -->
      <nav id="comments" style="">
        <div class="manage-display">

          <!--tags -->
          <div id="report-tags">
            <div style="display: -webkit-box;padding-bottom: 1.5%;;">
              <h3 style="text-transform: none;"><span style="text-transform: none">Tất cả tags của</span> {{user$.socialUser.name}} ({{numberOfTag$}} từ khóa)</h3>
            </div>

            <div class="scrollable">
              <table class="scrollable">
                <tr style="text-align: center">
                  <td>Stt</td>
                  <td>Tên tag</td>
                  <td>Lượt xem</td>
                  <td>Tổng điểm</td>
                </tr>
                <tr style="text-align: center" *ngFor="let tag of getAllTagOfUser$.tagsByPageIndex | paginate: { itemsPerPage: 10, currentPage: pAllTag, totalItems: getAllTagOfUser$.numberOfContents } let i = index" >
                  <td>{{i+1+pageNumber*10}}</td>
                  <td>{{tag.name}}</td>
                  <td>{{tag.viewCount}}</td>
                  <td>{{tag.reputation}}</td>
                </tr>
              </table>
              <div class="phan-trang clear" *ngIf="getAllTagOfUser$.numberOfPages != 1">
                <div class="my-pagination" >

                  <!--<a *ngFor="let page of arrayPage(getAllTagOfUser$.numberOfPages) let i = index"-->
                     <!--(click)="getAllTagOfUser(user$.userId,i);setRow(i)"-->
                     <!--[ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>-->
                  <pagination-controls (pageChange)="getPageAllTag($event)"></pagination-controls>
                </div>
              </div>
            </div>

          </div>
          <!--tags -->
          <!--end số liệu -->
        </div>

      </nav>

    </div>

    <!-- -->
    <div class="clear"></div>
  </main>

</div>

