<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <ngx-loading [show]="loading"
               [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li><a href="index.html"(click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh"(click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li class="active"><a  href="/qa-page" routerLinkActive="active"(click)="click()">Hỏi - Đáp</a></li>
          <li *ngIf="isLoggedIn()"><a (click)="userDetails()" style="cursor: pointer">Trang cá nhân</a></li>

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3" style="background: #f2f2f2">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;">

    <!--Content -->
    <div class="content three_quarter first" style=" margin-left: 1.5%;">
      <div class="">
        <h2 style="text-transform: none;text-align: center">Đăng câu hỏi</h2>
        <form action="#" method="post" *ngIf="!data">
          <div class="one_third first" style="width: 100%">
            <label for="name">Tiêu đề câu hỏi <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" #inputTitle required
                   style="border: 1px solid #d1d1d1;">

          </div>
          <div class="block clear" style="">
            <label>Nội dung <span>*</span></label>
            <ckeditor [config]="ckeConfig" [(ngModel)]="model.editorData"
                      [ngModelOptions]="{standalone: true}"></ckeditor>
            <h5 style="text-transform: none;">Nhập từ khóa và enter (tối đa 5 từ khóa)</h5>
            <div>
              <input type="text" data-role="tagsinput" [max]="5"  placeholder="Nhập từ khóa cho câu hỏi" #tagInput>
            </div>


            <div class="button" style="">
              <input type="submit" name="submit" value="Đăng câu hỏi"
                     (click)="addQa(inputTitle.value,tagInput.value)">
            </div>
          </div>
        </form>
        <form action="#" method="post" *ngIf="data">
          <div class="one_third first">
            <label for="name">Tiêu đề câu hỏi <span>*</span></label>
            <input type="text" name="name" id="name" value="{{qa.title}}" size="22" #inputTitle required
                   style="border: 1px solid #d1d1d1;">

          </div>
          <div class="block clear" style="">
            <label>Nội dung <span>*</span></label>
            <ckeditor [config]="ckeConfig" [(ngModel)]="model.default" [ngModelOptions]="{standalone: true}"></ckeditor>
            <h5 style="text-transform: none;">Nhập từ khóa và enter (tối đa 5 từ khóa)</h5>
            <div>

              <input type="text" data-role="tagsinput" placeholder="Nhập từ khóa cho câu hỏi" value="{{arrays}}"
                     #tagInput>
            </div>


            <div class="button" style="">
              <input type="submit" name="submit" value="Cập nhật câu hỏi"
                     (click)="updateQuestion(inputTitle.value,tagInput.value)" >
            </div>
          </div>
        </form>
      </div>

    </div>

    <!-- menu right side -->
    <div class="sidebar one_quarter" style=" margin-left: 1.5%;">
      <!-- ################################################################################################ -->
      <div class="div-menu-right">
        <div class="ask-place" onclick="">
          <a href="/qa-page-post" class="ask-button">Đặt câu hỏi mới</a>
        </div>
      </div>
      <div class="sdb_holder" style="margin-bottom: 0px;">
        <article class="top-article">
          <ul class="title-menu-right">

          </ul>
          <!--Top question -->
          <p class="title-menu-right">
            <img src="../../assets/images/question_icon.png" style="height: 20px;padding-right: 15px;">Top Questions
          </p>
          <ul *ngFor="let item of getObjectTopQa$.qa" id="top-question" style="padding-top: 25px;padding-left: 5px;">
            <li>
              <span *ngIf="item.appUser.socialUser != null"><a (click)="userDetail(item.appUser.userId)"><img
                src="{{item.appUser.socialUser.photoUrl}}" class="image-user"> </a></span>
              <span *ngIf="item.appUser.socialUser == null"><a><img src="../../assets/images/demo/avatar.png"
                                                                    class="image-user"> </a></span>
              <div class="title-article"><a (click)="edit(item)" style="cursor: pointer"> {{item.title}}</a></div>
              <div>
                <span class="top-article-view"><a>{{getNumber(item.answers)}} trả lời</a></span>
                <span class="top-article-view"><a>{{item.viewCount}} lượt xem</a></span>
              </div>
            </li>
          </ul>
        </article>
      </div>
      <div class="top-tag">
        <p class="title-menu-right">
          <img src="../../assets/images/tag-icon.png" style="height: 20px;padding-right: 15px;">Top tags
        </p>
        <div class="question-tag">
          <p *ngFor="let tag of getObjectTopTag$.tagsByPageIndex" style="font-size: unset;"
             (click)="getQaByTag(tag.tagId)">{{tag.name}}</p>
        </div>

      </div>

      <!--Top user -->
      <div>
        <p class="title-menu-right" style="padding-left: 4%;">
          <img src="../../assets/images/users.png" style="height: 20px;padding-right: 15px;">Top người dùng
        </p>
        <ul class="top-user">
          <li *ngFor="let item of getObjectTopUser$.appUsersByPageIndex">
            <span><a (click)="userDetail(item.userId)"><img src="{{item.socialUser.photoUrl}}" class="image-user"> </a></span>
            <div class="title-article"><a (click)="userDetail(item.userId)">{{item.socialUser.firstName}}</a></div>
            <span style="padding: 0 35px;"><a>{{item.reputation}} điểm</a></span>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>

    <div class="clear"></div>
  </main>

</div>
<!-- ################################################################################################ -->
<!-- footer-->



