#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px; color: black;}
#breadcrumb li:last-child a{margin:0; padding:0; color: #F7AF9D;}
.my-pagination /deep/ .ngx-pagination .current {
  background: lightblue;
}

.phan-trang {
  position: inherit;
  padding: 10px 35px 0 35px;
  width: 100%;
  text-align: center;
}
.button-search{
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.button-search:hover{
  background-color: rgba(0, 150, 136, 0.8);
}
.highlight {
  background-color: #32e6f1 !important;
  color: white !important;
}
