<div><ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
                  [template]="loadingTemplate"></ngx-loading>
<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="">
      <li><a href="index.html">Home</a></li>
      <li><a href="article-page/app-trang-chinh">Kiến thức</a></li>
      <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <div style="font-size: 4em; padding: 1em;text-align: center">Các bài viết mới nhất</div>
          <h3>Tìm kiếm bài viết </h3>
          <div style="margin: 0rem 0rem 8rem 0rem;">
            <input #articleTitle (keyup.enter)="resetPage();searchArticle(articleTitle.value, 0)"
                   style="color: black;margin-top: 2.25rem;width: 31rem;height: 2.5em">
            <input title="Search" value="" type="submit" class="button-search"
                   style="margin-top: -2.3rem;margin-left: 31rem;height:2.5em " (click)="resetPage();searchArticle(articleTitle.value, 0)">
          </div>
          <h1 *ngIf="articleTitle.value">Kết quả tìm kiếm của "{{articleTitle.value}}"</h1>
          <div class="scrollable">
            <table>
              <thead>
              <tr>
                <th>Số thứ tự</th>
                <th>Tên bài viết</th>
                <th>Ngày đăng</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let article of getTakeArticle$.articlesByPageIndex | paginate: { itemsPerPage: 10, currentPage: p, totalItems: getTakeArticle$.numberOfContents } let i = index">
                <td>{{i+1+ pageIndex$*10}}</td>
                <td style="padding: 1em"><a style="cursor: pointer" (click)="getArticleDetail(article)">{{article.title}}</a>
                </td>
                <td style="padding: 1em">{{article.utilTimestamp|date: 'yyyy-MM-dd'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="my-pagination" *ngIf="!checkSearch&& getTakeArticle$.numberOfPages!=1">
        <pagination-controls (pageChange)="getPageAll($event)"></pagination-controls>
      </div>
      <div class="my-pagination" *ngIf="checkSearch&& getTakeArticle$.numberOfPages!=1">
        <pagination-controls (pageChange)="getPageSearch($event, articleTitle.value)"></pagination-controls>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
</div>
