
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../../../assets/images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a style="font-size: 17px; color: #F7AF9D;letter-spacing: 5px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;  text-align: center; text-transform: uppercase;" href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="/article-page" routerLinkActive="active">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a  href="#">Hỏi - Đáp</a></li>
          <li><a  href="#">Liên hệ</a></li>

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2"></div>
  <!-- ################################################################################################ -->
</div>
<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="">
      <li><a href="index.html">Home</a></li>
      <li><a href="article-page/app-ki-thuat-trong">Kiến thức</a></li>
      <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
      <li><a>Bài viết về sâu bệnh</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content ">
      <!-- ################################################################################################ -->
      <h1><p>Rệp cam</p></h1>
      <img class="imgr borderedbox inspace-5" src="../../../assets/images/demo/vuon_cam.jpg" alt="">
      <img class="imgr borderedbox inspace-5 custom-img" src="../../../assets/images/demo/cam1.jpg" alt="">
      <p><b>Tên khoa học: </b>Toxoptera auranti và Toxoptera citricidus</p>
      <p><b>Họ rầy mềm (rệp cam): </b>>Aphididae</p>
      <p><b>Bộ cánh đều: </b>Homoptera</p>
      <p><b>Đặc điểm hình thái và khả năng gây hại của rầy mềm (rệp cam) Toxoptera auranti và Toxoptera citricidus:</b></p>
      <img class="imgl borderedbox inspace-5 custom-img" src="../../../assets/images/demo/cam2.jpg" alt="">
      <p>Cơ thể của chúng có hình bầu dục, bóng và có kích thước rất nhỏ, hình dáng hơi giống trái lê, mầu nâu đen hay mầu nâu đỏ hơi hồng.</p>
      <p>Rầy mềm (rệp cam) là loài đa ký chủ. Chúng gây hại trên nhiều loại cây như cây có múi, cà phê, trà, xoài, đu đủ, ca cao... Con trưởng thành đực (thường ít gặp) luôn luôn có cánh, con trưởng thành cái có hai dạng: có cánh thì dài gần 2mm và không cánh thì lớn hơn (khoảng 2mm). Trong điều kiện nhiệt đới, thức ăn phù hợp, rầy cái thường không có cánh, chủ yếu là sinh sản đơn tính và đẻ con. Do vậy, chúng tích lũy mật số rất nhanh. Còn khi mật số của rầy cao, hết thức ăn phù hợp, rầy sẽ sinh cánh dài, bắt cặp và di chuyển đi tìm nguồn thức ăn, sản sinh quần thể mới.</p>
      <p>Cả rầy non và trưởng thành đều bám ở mặt dưới lá, cành và đọt non để chích hút làm cho chồi, lá biến dạng, cong queo, còi cọc, không phát triển được giảm sức tăng trưởng của cây. Ngoài ra, chất bài biết của rầy có chứa nhiều đường mật tạo môi trường thuận lợi cho cho nấm bồ hóng phát triển làm ảnh hưởng trực tiếp đến quá trình quang hợp của cây.</p>
      <div id="comments">
        <h2>Thảo luận</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../../../assets/images/demo/avatar.png" alt=""></figure>
                <address>
                  By <a href="#">A</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2019 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>A comment rằng abc</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../../../assets/images/demo/avatar.png" alt=""></figure>
                <address>
                  By <a href="#">B</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2019 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>A comment rằng xyz</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Bình luận</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Tên <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Địa chỉ Email <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="block clear">
            <label for="comment">Bình luận của bạn</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Đăng">
            &nbsp;
            <input type="reset" name="reset" value="Đặt lại">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line">  Lê Thu Hà</li>
        <li class="space_line">  Nguyễn Phúc Minh Sơn</li>
        <li class="space_line">  Nguyễn Duy Hiển</li>
        <li class="space_line">  Trần Hồng Quỳnh</li>
        <li class="space_line">  Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Ngày phát hành</a></h6>
          <time class="font-xs block btmspace-10" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
