.custom-img{
  width: 125px;
  height: 125px;
}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px; color: black;}
#breadcrumb li:last-child a{margin:0; padding:0; color: #F7AF9D;}