<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../../../assets/images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a
          style="font-size: 17px; color: #F7AF9D;letter-spacing: 5px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;  text-align: center; text-transform: uppercase;"
          href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a href="#">Hỏi - Đáp</a></li>
          <li><a href="#">Liên hệ</a></li>

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2"></div>
  <!-- ################################################################################################ -->
</div>
<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <h6>Danh mục thể loại</h6>
      <nav class="sdb_holder">
        <ul>
          <li *ngFor="let distinct of distinct$"><a href="">{{distinct}}</a></li>
        </ul>
      </nav>
      <div class="sdb_holder">
        <article>
          <h6>Top Kiến thức</h6>
          <p> Những bài đăng mới nhất</p>
          <ul>
            <li *ngFor="let a of getAllArticle$.articlesByPageIndex"><a href="#">{{a.title}}</a></li>
          </ul>
        </article>
      </div>
      <div class="sdb_holder">
        <h6>Mọi thắc mắc liên hệ</h6>
        <address>
          Nguyễn Duy Hiển<br>
          Admin<br>
          Facebook: Yanyagin94<br>
          Hòa Lạc - Hà Nội<br>
          Đại học FPT<br>
          <br>
          Tel: 0984298666<br>
          Email: <a>hienndse05142@fpt.edu.vvn</a>
        </address>
      </div>

      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <!-- ################################################################################################ -->
      <h1><p>{{article$.title}}</p></h1>
      <div *ngIf="checkAdmin=='ADMIN'" class="group btmspace-50 demo" style="width: 50%; cursor: pointer">
        <a class="one_half first" style="font-size: large" (click)="editArticle(article$)">chỉnh sửa bài viết</a>
        <a class="one_half" style="font-size: large" (click)="deleteArticle(article$.articleId)">xóa bài viết</a>
      </div>
      <p innerHTML="{{article$.content}}" style="max-width: 100% !important;text-align: left;color: grey"></p>
      <div id="comments">
        <h2>Thảo luận</h2>
        <ul>
          <li *ngFor="let comment of article$.comments">
            <article>
              <header>
                <figure class="avatar"><img *ngIf="comment.appUser!=null&&comment.appUser.anonymous==true"
                                            src="../../assets/images/demo/avatar.png" alt="">
                  <img *ngIf="comment.appUser==null"
                       src="../../assets/images/demo/avatar.png" alt="">
                  <img *ngIf="comment.appUser!=null&&comment.appUser.anonymous==false"
                       src="{{comment.appUser.socialUser.photoUrl}}" alt="" (click)="userDetail(comment.appUser.userId)" ></figure>
                <address>
                  By <a style="cursor: pointer">{{comment.appUser.socialUser.name}}</a>
                </address>
                <time><span style="color: #7c7f85 !important;">Ngày đăng:</span>{{comment.utilTimestamp
                  | date: 'yyyy-MM-dd'}}
                </time>
              </header>
              <div class="comcont">
                <p>{{comment.content}}</p>
              </div>
            </article>
            <figure *ngIf="checkAuthenAnswer(comment)" class="avatar"><a style="cursor: pointer" (click)="editComment(comment)" [ngx-scroll-to]="editAns">Sửa bình luận</a></figure>
            <figure *ngIf="checkAuthenAnswer(comment)" class="avatar"><a style="cursor: pointer" (click)="deleteComment(comment.commentId)">Xóa bình luận</a></figure>
          </li>

        </ul>
        <h2 #editAns>Bình luận</h2>
        <form action="#" method="post" *ngIf="!checkEditComment$">
          <div class="block clear">
            <label for="comment">Bình luận của bạn</label>
            <textarea name="comment" id="comment" cols="25" rows="10" [(ngModel)]="ansContent" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Đăng" (click)="addComment(ansContent)">
            &nbsp;
            <input type="reset" name="reset" value="Đặt lại">
          </div>
        </form>
        <form action="#" method="post" *ngIf="checkEditComment$">
          <div class="block clear">
            <label for="comment">Bình luận của bạn</label>
            <textarea name="comment" id="comment" cols="25" rows="10" [(ngModel)]="ansContent" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Cập nhật" (click)="updateComment(ansContent)">
            &nbsp;
            <input type="reset" name="reset" value="Đặt lại">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line"> Lê Thu Hà</li>
        <li class="space_line"> Nguyễn Phúc Minh Sơn</li>
        <li class="space_line"> Nguyễn Duy Hiển</li>
        <li class="space_line"> Trần Hồng Quỳnh</li>
        <li class="space_line"> Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Ngày phát hành</a></h6>
          <time class="font-xs block btmspace-10" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                                       title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
