<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div>
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><input #questionTitle (keyup.enter)="searchQa(questionTitle.value, pageIndex$)" style="color: black"></li>
          <li><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="/article-page" routerLinkActive="active">Kiến thức</a>
            <ul>
              <li><a href="">Kỹ thuật trồng</a></li>
              <li><a href="">Thu hoạch & Bảo quản</a></li>
              <li><a href="">Phân bón</a></li>
              <li><a href="">Thuốc bảo vệ thực vật</a></li>
              <li><a href="">Sâu bệnh</a></li>
              <li><a href="">Kỹ thuật nhân giống</a></li>
              <li><a href="">Giống cây</a></li>
            </ul>
          </li>
          <li class="active"><a href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a>Liên hệ</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear" style="background-color: #f2f2f2">


    <div class="content-right">
      <!-- menu right side -->
      <nav class="menu-right-qa">

        <div class="div-menu-right">
          <div class="ask-place" onclick="">
            <a href="/qa-page-post" class="ask-button">Đặt câu hỏi</a>
          </div>
        </div>

        <div class="sdb_holder">
          <article class="top-article">
            <ul class="title-menu-right">

            </ul>
            <!--Top question -->
            <p class="title-menu-right">Top Câu hỏi</p>
            <ul *ngFor="let item of getObjectTopQa$.qa" id="top-question" style="padding-top: 25px;padding-left: 5px;">
              <li>
                <span><a><img src="../../assets/images/demo/avatar.png" class="image-user"> </a></span>
                <div class="title-article"><a (click)="edit(item)" style="cursor: pointer"> {{item.title}}</a></div>
                <div>
                  <span class="top-article-view"><a >{{getNumber(item.answers)}} trả lời</a></span>
                  <span class="top-article-view"><a >100 lượt xem</a></span>
                </div>
              </li>
            </ul>
          </article>
        </div>
        <div class="top-tag">
          <p class="title-menu-right">Top tags</p>
          <div class="question-tag">
            <p *ngFor="let tag of getObjectTopTag$.tagsByPageIndex" style="font-size: unset;">{{tag.name}}</p>
          </div>

        </div>

        <!--Top user -->
        <div>
          <p class="title-menu-right">Top người dùng</p>
          <ul class="top-user">
            <li *ngFor="let item of getObjectTopUser$.appUsersByPageIndex">
              <span><a><img src="../../assets/images/demo/avatar.png" class="image-user"> </a></span>
              <div class="title-article"><a>{{item.socialUser.firstName}}</a></div>
              <span style="padding: 0 35px;"><a>{{item.reputation}} điểm</a></span>
            </li>
          </ul>
        </div>
      </nav>

      <!--Content -->
      <nav id="comments" style="width: 80%;float: left;">
        <div style="display: grid;">
          <div id="menu-sap-xep">
            <span id="sort-qa-like" onclick="sortQA_like()" (click)="sortByView()" style="background-color: #FBFBFB;cursor: pointer;">Nhiều lượt xem</span>
            <span id="sort-qa-time" onclick="sortQA_time()"(click)="sortByDate()" style="background-color: gainsboro;cursor: pointer;">Thời gian đăng</span>
          </div>
          <div>
            <ul>

              <!--QA -->
              <li *ngFor="let object of getObject$.qa" style="color: black;margin-bottom: 0px;border-bottom: groove;">
                <article>
                  <header>
                    <figure class="avatar" style="float: left;margin-left: -13%;"><img
                      src="../../assets/images/demo/avatar.png" alt=""></figure>
                    <address style="text-align: left;font-size: 12px;color: dodgerblue">
                      <a *ngIf="object.appUser!=null&&object.appUser.anonymous==true">anonymous </a>
                      <a *ngIf="object.appUser==null">anonymous </a>
                      <a *ngIf="object.appUser!=null&&object.appUser.anonymous==false">{{object.appUser.socialUser.name}}</a>
                      <time style="font-size: 9px; "><span style="color: #7c7f85 !important;">Ngày đăng:</span>{{object.utilTimestamp
                        | date: 'yyyy-MM-dd'}}
                      </time>
                    </address>
                    <h3 style="font-family: 'Times New Roman';text-align: left;margin: 0px;padding-top: 8px;
                  font-weight: bold;font-size: 19px;    overflow: hidden;white-space: pre-wrap;">
                      <a class="title-qa" (click)="edit(object)">{{object.title}}</a>
                    </h3>
                  </header>
                  <div class="comcont">
                    <p innerHTML="{{object.content}}" style="max-width: 100% !important;text-align: left;color: grey"></p>
                  </div>
                  <div class="question-tag">

                    <p *ngFor="let tag of object.tags" style="padding: 1% !important;" (click)="getQaByTag(sortBy$, tag.tagId, pageIndex$)">{{tag.name}}</p>

                  </div>
                  <footer class="question-footer">
                    <div><i class="fa fa-li"></i><a>10 Like</a></div>
                    <div><a>{{getNumber(object.answers)}} Lượt trả lời</a></div>
                    <div><a>{{object.viewCount}} Lượt xem</a></div>
                  </footer>
                </article>
              </li>
              <div class="phan-trang clear">
                <div class="pagination">
                  <a>&laquo;</a>
                  <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index" (click)="getQa(sortBy$,i)">{{i}}</a>
                  <a>&raquo;</a>
                </div>
              </div>

            </ul>
          </div>
        </div>
      </nav>

    </div>

    <!-- chia trang -->
  </div>

</div>
<!-- ################################################################################################ -->
<!-- footer-->
<div class="wrapper row4 bgded overlay"
     style="background-image:url('../../assets/images/demo/backgrounds/04.png')!important; ;">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Commodo et blandit quis</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Neque phasellus fermentum</h6>
      <p class="nospace btmspace-30">Ac ante ipsum tincidunt dui eget lorem egestas ut ultricies felis suscipit.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Sem ipsum auctor dignissim</h6>
      <figure><a><img class="borderedbox inspace-10 btmspace-15" src="../images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a>Tortor congue quis arcu</a></h6>
          <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
</div>

