<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div>
  <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <div class="bgded overlay" style="background: #f2f2f2 !important;">
    <!-- ################################################################################################ -->
    <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
      <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left" style="padding-right: 0.5rem">
          <h1><a href="index.html">FPT developer Team</a></h1>
        </div>
        <div style="margin: 0rem 8rem;">
          <input #questionTitle (keyup.enter)="searchQa(questionTitle.value, pageIndex$)" style="color: black;margin-top: 2.25rem;width: 21rem;">
          <input title="Search" value="" type="submit" class="button-search" style="margin-top: -1.75rem;margin-left: 21rem"
                 (click)="searchQa(questionTitle.value, pageIndex$)">
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear" style="margin-top: 3%;font-size: 17px">
            <li class="active"><a href="index.html"(click)="click()">Trang chủ</a></li>
            <li><a class="drop" href="article-page/app-trang-chinh"(click)="click()">Kiến thức</a>
              <ul>
                <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
                <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
                <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
                <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
                <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
                <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
                <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
                <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
              </ul>
            </li>
            <li><a  href="/qa-page" routerLinkActive="active"(click)="click()">Hỏi - Đáp</a></li>
            <li><a (click)="click()">Liên hệ</a></li>

          </ul>

        </nav>
        <!-- ################################################################################################ -->
      </header>
    </div>
  </div>

  <div class="wrapper row3" style="background: #f2f2f2">
    <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <!-- COntent-->
      <div class="content three_quarter first">
        <!-- ################################################################################################ -->
        <div style="display: grid;">
          <div id="menu-sap-xep" *ngIf="!checkSearch">
            <span id="sort-qa-like" onclick="sortQA_like()" (click)="sortByView()"
                  style="background-color: #FBFBFB;cursor: pointer;">Nhiều lượt xem</span>
            <span id="sort-qa-time" onclick="sortQA_time()" (click)="sortByDate()"
                  style="background-color: gainsboro;cursor: pointer;">Thời gian đăng</span>
          </div>
          <h1 *ngIf="checkSearch">Kết quả tìm kiếm của "{{questionTitle.value}}"</h1>
          <div style="margin-top: 2%;">
            <ul>

              <!--QA -->
              <li *ngFor="let object of getObject$.qa" style="color: black;margin-bottom: 0px;border-bottom: groove;">
                <article style="padding-top: 2%">
                  <header>
                    <figure class="avatar" style="float: left; cursor: pointer"><img
                      *ngIf="object.appUser!=null&&object.appUser.anonymous==true"
                      src="../../assets/images/demo/avatar.png" alt="">
                      <img *ngIf="object.appUser==null"
                           src="../../assets/images/demo/avatar.png" alt="">
                      <img *ngIf="object.appUser!=null&&object.appUser.anonymous==false"
                           src="{{object.appUser.socialUser.photoUrl}}" alt="" (click)="userDetail(object.appUser.userId)">
                    </figure>
                    <address style="text-align: left;color: dodgerblue;margin-left: 7%;">
                      <a *ngIf="object.appUser!=null&&object.appUser.anonymous==true">anonymous </a>
                      <a *ngIf="object.appUser==null">anonymous </a>
                      <a *ngIf="object.appUser!=null&&object.appUser.anonymous==false" (click)="userDetail(object.appUser.userId)">{{object.appUser.socialUser.name}}</a>
                      <time style="font-size: 13px;float: right; "><span
                        style="color: #7c7f85 !important;">Ngày đăng:</span>{{object.utilTimestamp
                        | date: 'yyyy-MM-dd'}}
                      </time>
                    </address>
                    <h3 style="font-family: 'Times New Roman';text-align: left;margin-left: 7%;padding-top: 8px;
                  font-weight: bold;overflow: hidden;white-space: pre-wrap;">
                      <a class="title-qa" (click)="edit(object)">{{object.title}}</a>
                    </h3>
                  </header>
                  <!--<div class="comcont">-->
                    <!--<p style="max-width: 100% !important;text-align: left;color: grey"-->
                       <!--innerHTML="{{object.content}}"></p>-->
                  <!--</div>-->
                  <div class="question-tag">

                    <p *ngFor="let tag of object.tags" style="padding: 0% 1% !important;"
                       (click)="getQaByTag(sortBy$, tag.tagId, pageIndex$)">{{tag.name}}</p>

                  </div>
                  <footer class="question-footer">
                    <div><i class="fa fa-li"></i><a>{{object.appUser.reputation}} like</a></div>
                    <div><a>{{getNumber(object.answers)}} trả lời</a></div>
                    <div><a>{{object.viewCount}} lượt xem</a></div>
                  </footer>
                </article>
              </li>
              <div class="phan-trang clear">
                <div class="pagination" *ngIf="checkPaging$=='viewAndDate'">
                  <a>&laquo;</a>
                  <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index" (click)="getQa(sortBy$,i)">{{i+1}}</a>
                  <a>&raquo;</a>
                </div>
                <div class="pagination" *ngIf="checkPaging$=='search'">
                  <a>&laquo;</a>
                  <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index" (click)="searchQa(questionTitle.value, i)">{{i}}</a>
                  <a>&raquo;</a>
                </div>
                <div class="pagination" *ngIf="checkPaging$=='tag'">
                  <a>&laquo;</a>
                  <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index"
                     (click)="getQaByTag(sortBy$,tagId,i)" onclick="setStyle()" id="numberIndex">{{i+1}}</a>
                  <a>&raquo;</a>
                </div>
              </div>

            </ul>
          </div>
        </div>
        <!-- ################################################################################################ -->
      </div>
      <!-- COntent End-->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!--Right bar -->
      <div class="sidebar one_quarter" style=" margin-left: 1.5%;">
        <!-- ################################################################################################ -->
        <div class="div-menu-right">
          <div class="ask-place" onclick="">
            <a href="/qa-page-post" class="ask-button">Đặt câu hỏi</a>
          </div>
        </div>
        <div class="sdb_holder" style="margin-bottom: 0px;">
          <article class="top-article">
            <ul class="title-menu-right">

            </ul>
            <!--Top question -->
            <p class="title-menu-right">
              <img src="../../assets/images/question_icon.png" style="height: 20px;padding-right: 15px;">Top Questions
            </p>
            <ul *ngFor="let item of getObjectTopQa$.qa" id="top-question" style="padding-top: 25px;padding-left: 5px;">
              <li>
                <span *ngIf="item.appUser.socialUser != null"><a><img src="{{item.appUser.socialUser.photoUrl}}" class="image-user"> </a></span>
                <span *ngIf="item.appUser.socialUser == null"><a><img src="../../assets/images/demo/avatar.png" class="image-user"> </a></span>
                <div class="title-article"><a (click)="edit(item)" style="cursor: pointer"> {{item.title}}</a></div>
                <div>
                  <span class="top-article-view"><a>{{getNumber(item.answers)}} trả lời</a></span>
                  <span class="top-article-view"><a>{{item.viewCount}} lượt xem</a></span>
                </div>
              </li>
            </ul>
          </article>
        </div>
        <div class="top-tag">
          <p class="title-menu-right">
            <img src="../../assets/images/tag-icon.png" style="height: 20px;padding-right: 15px;">Top tags
          </p>
          <div class="question-tag">
            <p *ngFor="let tag of getObjectTopTag$.tagsByPageIndex" style="font-size: unset;"
               (click)="getQaByTag(sortBy$, tag.tagId, pageIndex$)">{{tag.name}}</p>
          </div>

        </div>

        <!--Top user -->
        <div>
          <p class="title-menu-right" style="padding-left: 4%;">
            <img src="../../assets/images/users.png" style="height: 20px;padding-right: 15px;">Top người dùng
          </p>
          <ul class="top-user">
            <li *ngFor="let item of getObjectTopUser$.appUsersByPageIndex">
              <span><a><img src="{{item.socialUser.photoUrl}}" class="image-user"> </a></span>
              <div class="title-article"><a>{{item.socialUser.firstName}}</a></div>
              <span style="padding: 0 35px;"><a>{{item.reputation}} điểm</a></span>
            </li>
          </ul>
        </div>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>

  <!-- ################################################################################################ -->
  <!-- footer-->
</div>

