<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right" style="float: none;">
      <ul class="clear">
        <li *ngIf="user">
          <div><i><img class="image-user-icon" (click)="userDetail(id)" src="{{ user.photoUrl }}"
                       style="cursor: pointer; width: 5em;height: 5em"></i></div>
        </li>
        <!--<li><i class="fa fa-clock-o"></i> Làm việc 24/7</li>-->
        <!--<li><i class="fa fa-phone"></i> + (89) 947 939 762</li>-->
        <!--<li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>-->
        <li *ngIf="!user">
          <div title="Đăng nhập bằng google" (click)="signInWithGoogle()" style="cursor: pointer"><a
            style="cursor: pointer; text-transform: none;font-size: large; ">Đăng nhập</a></div>
        </li>
        <li *ngIf="user">
          <div title="Đăng xuất" (click)="signOut()" style="cursor: pointer"><a
            style="cursor: pointer; text-transform: none;font-size: large;">Đăng xuất</a></div>
        <li *ngIf="checkAdmin=='ADMIN'"><a class="button" href="./manage-page"
                                           style="cursor: pointer; text-transform: none;font-size: large;">Quản lý</a></li>
        <li *ngIf="checkAdmin=='ADMIN'"><a class="button" href="./article-post-page"
                                           style="cursor: pointer; text-transform: none;font-size: large;">Đăng bài viết</a></li>
        <li><a class="drop" routerLinkActive="active" style="cursor: pointer; text-transform: none;font-size: large;">Thông báo</a>
          <ul *ngIf="!checkNotif">
            <li>Không có thông báo nào</li>
          </ul>
          <ul *ngIf="checkNotif">
            <li *ngFor="let notif of getNotif$.notificationsByPageIndex"><a class="drop" (click)="seeNotif(notif)"
                                                                            style="cursor: pointer; width: 25em">{{notif.message}}</a>
              <ul style="margin-left: 11em">
                <li style="padding-right: 0px;"><a style="cursor: pointer;" (click)="deleteNotif(notif.notificationId)">Xóa thông báo</a></li>
                <li><a style="cursor: pointer" (click)="unsubscribeNotif(notif)">Ngừng theo dõi bài viết này</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </div>
</div>
<script>


</script>
