<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="">
      <li><a href="index.html">Home</a></li>
      <li><a href="article-page/app-ki-thuat-trong">Kiến thức</a></li>
      <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Kỹ thuật nhân giống</header>
          <ul class="nospace clear">
            <li *ngFor="let article of getCloneArticle$.articlesByPageIndex" class="one_quarter first"><a href="article-detail-page" style="cursor: pointer">{{article.title}}</a></li>
          </ul>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="pagination">
        <a>&laquo;</a>
        <a *ngFor="let page of arrayPage(getCloneArticle$.numberOfPages) let i = index" (click)="getCloneArticle(i)">{{i}}</a>
        <a>&raquo;</a>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
