<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="">
      <li><a href="index.html">Home</a></li>
      <li><a href="article-page/app-ki-thuat-trong">Kiến thức</a></li>
      <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Thuốc bảo vệ thực vật</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Cam bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Quýt bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Mít bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Dừa bị abc</li>
            <li class="one_quarter first"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Dưa bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Lê bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Táo bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Ổi bị abc</li>
            <li class="one_quarter first"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Na bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Mận bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/222x222.jpg" alt=""></a>Chôm Chôm bị abc</li>
            <li class="one_quarter"><a href="article-detail-page"><img src="../../assets/images/demo/gallery/dau_tay.jpg" alt=""></a>Dừa bị abc</li>
          </ul>
          <figcaption>....................</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a>&laquo; Previous</a></li>
          <li><a>1</a></li>
          <li><a>2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a>6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a>8</a></li>
          <li><a>9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a>14</a></li>
          <li><a>15</a></li>
          <li><a>Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
