<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="">
      <li><a href="index.html">Home</a></li>
      <li><a href="article-page/app-ki-thuat-trong">Kiến thức</a></li>
      <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Thuốc bảo vệ thực vật</header>
          <ul class="nospace clear">
            <li *ngFor="let article of getDrugArticle$.articlesByPageIndex" class="one_quarter first"><a href="article-detail-page" style="cursor: pointer"></a>{{article.title}}</li>

          </ul>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="pagination">
        <a>&laquo;</a>
        <a *ngFor="let page of arrayPage(getDrugArticle$.numberOfPages) let i = index" (click)="getDrugArticle(i)">{{i}}</a>
        <a>&raquo;</a>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
