<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a>Liên hệ</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3" style="background: #f2f2f2">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;" *ngIf="!data">

    <!--Content -->
    <div class="content three_quarter first" style=" margin-left: 1.5%;">
      <div class="">
        <h2 style="text-transform: none;text-align: center">Đăng bài viết</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="Aname">Tiêu đề <span>*</span></label>
            <input type="text" name="Aname" id="Aname" value="" size="22" #inputATitle required
                   style="border: 1px solid #d1d1d1;">
          </div>
          <div class="block clear" style="">
            <label>Nội dung <span>*</span></label>
            <ckeditor [(ngModel)]="model.editorData" [ngModelOptions]="{standalone: true}"></ckeditor>
            <label>Chọn thể loại</label>
            <div>
              <select [(ngModel)]="selectedValue$" [ngModelOptions]="{standalone: true}">
                <option>kỹ thuật trồng</option>
                <option>thu hoạch bảo quản</option>
                <option>phân bón</option>
                <option>thuốc bảo vệ thực vật</option>
                <option>sâu bệnh</option>
                <option>kỹ thuật nhân giống</option>
                <option>giống cây</option>
              </select>
            </div>
            <label>Chọn từ khóa</label>
            <div>
              <input type="text" data-role="tagsinput" placeholder="Nhập từ khóa cho câu hỏi" #tagAInput>
            </div>
            <div class="button" style="">
              <input type="submit" name="submit" value="Đăng bài" (click)="addArticle(inputATitle.value, tagAInput.value, selectedValue$)">
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="clear"></div>
  </main>
  <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;" *ngIf="data">

    <!--Content -->
    <div class="content three_quarter first" style=" margin-left: 1.5%;">
      <div class="">
        <h2 style="text-transform: none;text-align: center">Chỉnh sửa bài viết</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="Aname">Tiêu đề <span>*</span></label>
            <input type="text" name="Aname" id="Aname" value="{{article$.title}}" size="22" #inputATitle required
                   style="border: 1px solid #d1d1d1;">
          </div>
          <div class="block clear" style="">
            <label>Nội dung <span>*</span></label>
            <ckeditor [(ngModel)]="model.default" [ngModelOptions]="{standalone: true}"></ckeditor>
            <label>Chọn thể loại</label>
            <div>
              <select [(ngModel)]="selectedValue$" [ngModelOptions]="{standalone: true}" >
                <option>kỹ thuật trồng</option>
                <option>thu hoạch bảo quản</option>
                <option>phân bón</option>
                <option>thuốc bảo vệ thực vật</option>
                <option>sâu bệnh</option>
                <option>kỹ thuật nhân giống</option>
                <option>giống cây</option>
              </select>
            </div>
            <label>Chọn từ khóa</label>
            <div>
              <input type="text" data-role="tagsinput" placeholder="Nhập từ khóa cho câu hỏi" #tagAInput>
            </div>
            <div class="button" style="">
              <input type="submit" name="submit" value="Đăng bài" (click)="updateArticle(inputATitle.value, tagAInput.value, selectedValue$)">
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="clear"></div>
  </main>

</div>
<!-- ################################################################################################ -->
<!-- footer-->




