<div class="wrapper row4 bgded overlay" style="background-image:url('https://storage.googleapis.com/sonson-1-bucket/images.jpg');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line">  Lê Thu Hà</li>
        <li class="space_line">  Nguyễn Phúc Minh Sơn</li>
        <li class="space_line">  Nguyễn Duy Hiển</li>
        <li class="space_line">  Trần Hồng Quỳnh</li>
        <li class="space_line">  Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="assets/images/demo/320x168.png" alt=""></a>
        <figcaption>
          <time>{{today | date:'fullDate'}}</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
