<div class="wrapper row0" style="height: 35px">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul style="margin-top: -7px;">
      <li><i class="fa fa-clock-o"></i> Mon. - Fri. 8am - 5pm</li>
      <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
      <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
      <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">Kiến thức</a>
            <ul>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Basic Grid</a></li>

            </ul>
          </li>

          <li><a routerLink="/article-page" routerLinkActive="active">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear" style="background-color: #f2f2f2">

    <!--menu left side -->
    <nav class="menu-left-qa">
      <div class="div-menu-left">
        <ul>
          <li><a onclick="thongke()"><i class="fa fa-hacker-news"></i>Thống kê</a></li>
          <li><a href="#"><i class="fa fa-hacker-news"></i>Xếp hạng</a></li>
          <li><a href="#"><i class="fa fa-hacker-news"></i>Báo cáo</a></li>

        </ul>
      </div>
    </nav>


    <div class="content-right">
      <!--Content -->
      <nav id="comments" style="width: 80%;float: left !important;margin-left: 20%;">
        <div class="manage-display">
          <!--//thống kê-->
          <div id="chartContainer" style="height: 370px; width: 100%;">

          </div>
          <!--//xếp hạng-->
          <div>
            <h3 style="text-transform: none;text-align: center;">Xếp hạng người dùng</h3>
            <div>
              <form>
                <div style="min-width: 100%;">
                  <input type="text" data-role="tagsinput" placeholder="Nhập tag" style="max-width: 50%;">
                </div>
                <button style="margin-top: -2%;">Search</button>
              </form>
            </div>
            <div id="table-wrapper">
              <table class="">
                <tbody>
                <tr class="" style="">
                  <td>Tên tài khoản</td>
                  <td>Email/Facebook</td>

                  <td>Số câu hỏi</td>
                  <td>Số câu trả lời</td>
                  <td>Số lượt like</td>
                  <td>Số tags</td>
                  <td>Số lượt bị báo cáo</td>
                  <td>Tông điểm</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>

                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">Crit Cardio</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>
                <tr class="">
                  <td class="">abc</td>
                  <td class=" ">tinhnx@gmail.com</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                  <td class=" ">100</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

          <!--//báo cáo-->

          <div id="report">
            <h3 style="text-transform: none;">Các bài viết, câu hỏi và câu trả lời bị report</h3>
            <ul>
              <form>
                <li>
                  <table class="table-report">
                    <tr class="table-report-first">
                      <td class="label-report">Người báo cáo :</td>
                      <td class="content-report"><a href="#">Người báo cáo</a></td>
                    </tr>
                    <tr>
                      <td class="label-report">Người bị báo cáo :</td>
                      <td class="content-report"><a href="#">Người bị báo cáo</a></td>
                    </tr>
                    <tr>
                      <td class="label-report">Title bị cáo cáo :</td>
                      <td class="content-report"><a href="#">Tiêu đề ở đây</a></td>
                    </tr>
                    <tr>
                      <td class="label-report">Lí do :</td>
                      <td class="content-report"><a href="#">Lí do ở đây </a></td>
                    </tr>
                    <tr>
                      <td class="label-report">Trạng thái :</td>
                      <td class="content-report"><option></option></td>
                    </tr>
                  </table>


                </li>
              </form>
            </ul>
          </div>
          <!--end báo cáo -->
        </div>

      </nav>

    </div>

    <!-- chia trang -->
  </div>

</div>
<!-- ################################################################################################ -->
<!-- footer-->
<div class="wrapper row4 bgded overlay"
     style="background-image:url('../../assets/images/demo/backgrounds/04.png')!important; ;">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Commodo et blandit quis</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Neque phasellus fermentum</h6>
      <p class="nospace btmspace-30">Ac ante ipsum tincidunt dui eget lorem egestas ut ultricies felis suscipit.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Sem ipsum auctor dignissim</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="../images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Tortor congue quis arcu</a></h6>
          <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>




