<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a>Liên hệ</a></li>

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear" style="background-color: #f2f2f2;min-height: 650px;">

    <div class="content-right">
      <!--Content -->
      <nav id="comments" style="width: 100%;"><!--float: left !important;margin-left: 20%;-->
        <div class="manage-display">
          <!--//thống kê-->
          <div class="col-md-12 row" style="margin-left: 0%">

            <table class="table-report title">
              <tr class="table-report-first">
                <td (click)="showView(0)" style="text-align: center;">Thống kê tương tác</td>
                <td (click)="showView(1)" style="text-align: center;">Thống kê người dùng</td>
                <td (click)="showView(2)" style="text-align: center;">Thống kê báo cáo</td>
              </tr>
              <tr>
                <td (click)="showView(3)">Thống kê bài viết</td>
                <td (click)="showView(4)">Thống kê tags</td>
                <td (click)="showView(5)">Thống kê câu hỏi</td>
              </tr>

            </table>

            <div class="col-md-10">
              <!--Thống kê tương tác -->
              <div *ngIf="isFlatShowView">
                <h4 style="text-transform: none;text-align: center;">Thống kê tương tác</h4>
                <h5 style="text-transform: none;">Đã có tổng cộng {{allView$}} lượt xem</h5>
                <div style="display: -webkit-inline-box">
                  <select (change)="typeDraw($event.target.value)" style="height: 43px;width: auto;">
                    <option value="date">Thống kê theo ngày</option>
                    <option value="month">Thống kê theo tháng</option>
                    <option value="year">Thống kê theo năm</option>
                  </select>
                  <div class="inputDate">
                    <input #date *ngIf="classifyChart == 'date'" placeholder="Nhập ngày bắt đầu (yyyy-MM-dd)" (keyup.enter)="letDrawChart(date.value)" >
                    <input #month *ngIf="classifyChart == 'month'" placeholder="Nhập tháng bắt đầu (yyyy-MM)" (keyup.enter)="letDrawChart(month.value)">
                    <input #year *ngIf="classifyChart == 'year'" placeholder="Nhập năm bắt đầu (yyyy)" (keyup.enter)="letDrawChart(year.value)">
                  </div>
                </div>
                <!-- Chart -->
                <div style="border-bottom: 2px solid #b53f3f2e;">
                  <div id="chartContainer" style="height: 370px; width: 100%;">

                  </div>

                </div>
              </div>
              <!--Thống kê tương tác -->

              <!--Thống kê người dùng -->
              <div *ngIf="isFlatShowUser" id="showUser" style="">
                <h4 style="text-transform: none;text-align: center;">Thống kê người dùng</h4>
                <h5 style="text-transform: none;">Nhập tên tag để tìm kiếm người dùng</h5>
                <div>
                  <form style="margin: 0px">
                    <div style="min-width: 100%;">
                      <input type="text" data-role="tagsinput" placeholder="Nhập tag"
                             style="max-width: 100%;border: 1px solid #0E76A8;padding: 1rem;" #tagInput
                             (keyup.enter)="getSearchTag(0, tagInput.value)">
                    </div>
                  </form>
                  <h6><a (click)="getAllUser(0)" style="cursor: pointer;">Xem tất cả người dùng ở đây</a></h6>
                </div>

                <div id=" table-wrapper"><!-- -->
                  <!-- show All user -->
                  <div *ngIf="isFlatShowAllUser">
                    <h5 style="text-transform: none">Tất cả người dùng</h5>
                    <table style="text-align: center;">
                      <tbody>
                      <tr class="" style="">
                        <td>Tên tài khoản</td>
                        <td>Email/ Facebook</td>
                        <td>Tông điểm</td>
                      </tr>
                      <tr class="" *ngFor="let userAll of getAllUser$.appUsersByPageIndex">
                        <td class="" *ngIf="userAll.socialUser != null"><a (click)="userDetail(userAll.userId)">{{userAll.socialUser.name}}</a>
                        </td>
                        <td class="" *ngIf="userAll.socialUser == null">Anonymous(Id: {{userAll.userId}})</td>
                        <td *ngIf="userAll.socialUser != null">{{userAll.socialUser.email}}</td>
                        <td *ngIf="userAll.socialUser == null">Anonymous</td>
                        <td class=" ">{{userAll.reputation}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="phan-trang clear">
                      <div class="pagination">
                        <a>&laquo;</a>
                        <a *ngFor="let page of arrayPage(getAllUser$.numberOfPages) let i = index"
                           (click)="getAllUser(i)" onclick="setStyle()" id="numberIndex">{{i+1}}</a>
                        <a>&raquo;</a>
                      </div>
                    </div>
                  </div>
                  <!-- show All user -->

                  <div *ngIf="tagDetail">
                    <h5 style="text-transform: none">Thông tin tag(bấm để hiện người dùng)</h5>
                    <table class="scrollable">
                      <tr style="text-align: center">
                        <td>Tên tag</td>
                        <td>Số view</td>
                        <td>Số điểm</td>
                      </tr>
                      <tr style="text-align: center" *ngFor="let object of getObjectTag$.tagsByPageIndex"
                          (click)="getUserByTag(object.tagId)">
                        <td>{{object.name}}</td>
                        <td>{{object.viewCount}}</td>
                        <td>{{object.reputation}}</td>
                      </tr>
                    </table>
                  </div>

                  <div *ngIf="tagUserDetail">
                    <h5><span style="text-transform: none">Người dùng có tag</span> {{tagInput.value}}</h5>
                    <table style="text-align: center;">
                      <tbody>
                      <tr class="" style="">
                        <td>Tên tài khoản</td>
                        <td>Email/ Facebook</td>
                        <td>Tông điểm</td>
                      </tr>
                      <tr class="" *ngFor="let user of getUserByTag$">
                        <td class="">{{user.appUser.socialUser.name}}</td>
                        <td class=" ">{{user.appUser.socialUser.email}}</td>
                        <td class=" ">{{user.appUser.reputation}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
              <!--Thống kê người dùng -->

              <!--Thống kê báo cáo -->
              <div *ngIf="isFlatShowReport" id="report">
                <h4 style="text-transform: none;text-align: center;">Thống kê báo cáo</h4>
                <ul id="showReport">
                  <h5 style="text-transform: none;">Người dùng gửi report</h5>
                  <table class="scrollable">
                    <tr style="text-align: center">
                      <td>Tên tài khoản</td>
                      <td>Loại tài khoản</td>
                      <td>Số lần gửi report</td>
                    </tr>
                    <tr style="text-align: center" *ngFor="let report of getReportUser$.userAndReportTimes"
                        (click)="getReportDetail(report.userId)">
                      <td *ngIf="report.fullName != null">{{report.fullName}}</td>
                      <td *ngIf="report.fullName == null">Anonymus {{report.userId}}</td>
                      <td>{{report.role}}</td>
                      <td>{{report.numberOfReports}}</td>
                    </tr>
                  </table>
                  <div class="phan-trang clear">
                    <div class="pagination">
                      <a>&laquo;</a>
                      <a *ngFor="let page of arrayPage(getReportUser$.numberOfPages) let i = index"
                         (click)="getReport(i)">{{i+1}}</a>
                      <a>&raquo;</a>
                    </div>
                  </div>
                  <form *ngIf="reportDetail">
                    <li>
                      <table class="table-report" *ngFor="let reportUser of getReport$">
                        <tr class="table-report-first">
                          <td class="label-report">Người báo cáo :</td>
                          <td class="content-report" *ngIf="reportUser.appUser.socialUser != null">
                            <a>{{reportUser.appUser.socialUser.name}}</a>
                          </td>
                          <td class="content-report" *ngIf="reportUser.appUser.socialUser == null">
                            <a>Anonymus {{reportUser.appUser.userId}}</a>
                          </td>
                          <td class="label-report">Ngày gửi</td>
                          <td class="content-report">{{reportUser.utilTimestamp| date: 'yyyy-MM-dd'}}</td>
                        </tr>
                        <tr>
                          <td class="label-report">Người bị báo cáo :</td>
                          <td class="content-report"><a>{{reportUser.question.appUser.socialUser.name}}</a></td>
                          <td class="label-report">Thể loại</td>
                          <td class="content-report">Câu hỏi</td>
                        </tr>
                        <tr>
                          <td class="label-report">Lí do :</td>
                          <td class="content-report" colspan="3"><a>{{reportUser.message}}</a></td>
                        </tr>
                      </table>
                    </li>
                  </form>
                </ul>
              </div>

              <!--Show artile -->
              <div *ngIf="isFlatShowArticle" id="article">
                <h4 style="text-transform: none;text-align: center">Thống kê bài viết</h4>
                <table class="scrollable">
                  <tr style="text-align: center">
                    <td style="min-width: 17rem;">Tiêu đề</td>
                    <td>Category</td>
                    <td>Người đăng</td>
                    <td>Số view</td>
                    <td>Ngày đăng</td>
                  </tr>
                  <tr style="text-align: center" *ngFor="let article of getAllarticle$.articlesByPageIndex">
                    <td><a (click)="goToArticlePage(article)" style="cursor: pointer;">{{article.title}}</a></td>
                    <td>{{article.category}}</td>
                    <td>{{article.appUser.socialUser.name}}</td>
                    <td>{{article.viewCount}}</td>
                    <td>{{article.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                  </tr>

                </table>
                <div class="phan-trang clear">
                  <div class="pagination">
                    <a>&laquo;</a>
                    <a *ngFor="let page of arrayPage(getAllarticle$.numberOfPages) let i = index"
                       (click)="getAllarticle(i)">{{i+1}}</a>
                    <a>&raquo;</a>
                  </div>
                </div>


              </div>

              <!--Show tags -->
              <div *ngIf="isFlatShowtags" id="tags">
                <h4 style="text-transform: none;text-align: center;">Thống kê tag</h4>
                <h5 style="text-transform: none;">Sắp xếp theo
                  <select style="width: fit-content;margin: 0;" (change)="sortTagBy($event.target.value)">
                    <option value="viewCount">Số view</option>
                    <option value="upvoteCount">Tổng điểm</option>
                  </select>
                </h5>
                <table class="scrollable">
                  <tr style="text-align: center">
                    <td>Tên tag</td>
                    <td>Số view</td>
                    <td>Số điểm</td>
                  </tr>
                  <tr style="text-align: center" *ngFor="let object of getObjectTag$.tagsByPageIndex">
                    <td>{{object.name}}</td>
                    <td>{{object.viewCount}}</td>
                    <td>{{object.reputation}}</td>
                  </tr>
                </table>
                <div class="phan-trang clear">
                  <div class="pagination">
                    <a>&laquo;</a>
                    <a *ngFor="let page of arrayPage(getObjectTag$.numberOfPages) let i = index"
                       (click)="getAllTag(sortBy$,i)">{{i+1}}</a>
                    <a>&raquo;</a>
                  </div>
                </div>
              </div>

              <!--Show câu hỏi -->
              <div *ngIf="isFlatShowQuestion" id="question">
                <h4 style="text-transform: none;text-align: center;">Thống kê câu hỏi</h4>
                <h5 style="text-transform: none;">Sắp xếp theo
                  <select style="width: fit-content;margin: 0;" (change)="sortBy($event.target.value)">
                    <option value="viewCount">Số view</option>
                    <option value="upvoteCount">Tổng điểm</option>
                    <option value="date">Ngày đăng</option>
                  </select>
                </h5>
                <table class="scrollable">
                  <tr style="text-align: center">
                    <td style="min-width: 10rem;">Tiêu đề</td>
                    <td>Người đăng</td>
                    <td>Số view</td>
                    <td>Số trả lời</td>
                    <td>Ngày đăng</td>
                  </tr>
                  <tr style="text-align: center" *ngFor="let object of getObject$.qa">
                    <td><a (click)="gotoDetailPage(object)" style="cursor: pointer;">{{object.title}}</a></td>
                    <td>{{object.appUser.socialUser.name}}</td>
                    <td>{{object.viewCount}}</td>
                    <td>{{getNumber(object.answers)}}</td>
                    <td>{{object.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                  </tr>
                </table>
                <div class="phan-trang clear">
                  <div class="pagination">
                    <a>&laquo;</a>
                    <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index"
                       (click)="getQa(sortBy$,i)">{{i+1}}</a>
                    <a>&raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end báo cáo -->
        </div>

      </nav>

    </div>

    <!-- chia trang -->
  </div>

</div>
<!-- ################################################################################################ -->
<!-- footer-->





