<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <ngx-loading [show]="loading"
               [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html" (click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh" (click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a href="/qa-page" routerLinkActive="active" (click)="click()">Hỏi - Đáp</a></li>
          <li *ngIf="isLoggedIn()"><a (click)="userDetails()" style="cursor: pointer">Trang cá nhân</a></li>


        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear" style="background-color: #f2f2f2;min-height: 650px;">

    <div class="content-right">
      <!--Content -->
      <nav id="comments" style="width: 100%;"><!--float: left !important;margin-left: 20%;-->
        <div class="manage-display">
          <!--//thống kê-->
          <div class="col-md-12 row" style="margin-left: 0%">

            <table class="table-report title">
              <tr class="table-report-first">
                <td (click)="showView(0)" style="text-align: center;">Thống kê tương tác</td>
                <td (click)="showView(1)" style="text-align: center;">Thống kê người dùng</td>
                <td (click)="showView(2)" style="text-align: center;">Thống kê báo cáo</td>
              </tr>
              <tr>
                <td (click)="showView(3)">Thống kê bài viết</td>
                <td (click)="showView(4)">Thống kê tags</td>
                <td (click)="showView(5)">Thống kê câu hỏi</td>
              </tr>

            </table>

            <div class="col-md-10">
              <!--Thống kê tương tác -->
              <div *ngIf="isFlatShowView">
                <h4 style="text-transform: none;text-align: center;">Thống kê tương tác</h4>
                <h5 style="text-transform: none;">Đã có tổng cộng {{allView$}} lượt xem</h5>
                <h5 style="text-transform: none;">Chọn kiểu biểu đồ, mốc thời gian bắt đầu và khoảng thời gian của biểu
                  đồ</h5>
                <div style="display: -webkit-box">
                  <p style="margin: 15px 0%">Chọn kiểu biểu đồ</p>
                  <select (change)="typeDraw($event.target.value)" style="height: 43px;width: auto;margin-left: 10px;">
                    <option value="date">Thống kê theo ngày</option>
                    <option value="month">Thống kê theo tháng</option>
                    <option value="year">Thống kê theo năm</option>
                  </select>
                  <strong> * Thời gian tính từ mốc thời gian + khoảng thời gian</strong>
                </div>
                <form>
                  <div style="display: -webkit-box;margin-bottom: 0%;">

                    <div class="inputDate">
                      <p style="max-width: 100%;margin: 0%">Chọn mốc thời gian bắt đầu biểu đồ</p>
                      <input *ngIf="classifyChart == 'date'" placeholder="Nhập ngày bắt đầu (yyyy-MM-dd)"
                             type="date" id="date" style="height: 43px;" [(ngModel)]="dateChart"
                             [ngModelOptions]="{standalone: true}">
                      <!--(keyup.enter)="letDrawChart(date.value)"-->
                      <input *ngIf="classifyChart == 'month'" placeholder="Nhập tháng bắt đầu (yyyy-MM)"
                             type="date" style="height: 43px;" [(ngModel)]="monthChart"
                             [ngModelOptions]="{standalone: true}">
                      <!--(keyup.enter)="letDrawChart(date.value)"-->
                      <input *ngIf="classifyChart == 'year'" placeholder="Nhập năm bắt đầu (yyyy)" type="date"
                             style="height: 43px;" [(ngModel)]="yearChart" [ngModelOptions]="{standalone: true}">
                      <!--(keyup.enter)="letDrawChart(date.value)"-->

                    </div>

                    <div style="width: 25%;margin-left: 4rem;">
                      <p style="max-width: 100%;margin: 0%">Khoảng thời gian </p>
                      <!--<input [(ngModel)]="periodChart" type="number" placeholder="Nhập khoảng thời gian"-->
                      <!--style="height: 43px;"-->
                      <!--[ngModelOptions]="{standalone: true}" min="0" >-->
                      <select *ngIf="classifyChart == 'date'" (change)="timePeriod($event.target.value)"
                              style="height: 43px;">
                        <option value="1">1 ngày</option>
                        <option value="2">2 ngày</option>
                        <option value="3">3 ngày</option>
                        <option value="4">4 ngày</option>
                        <option value="5">5 ngày</option>
                        <option value="6">6 ngày</option>
                        <option value="7">7 ngày</option>
                        <option value="8">8 ngày</option>
                        <option value="9">9 ngày</option>
                        <option value="10">10 ngày</option>
                        <option value="11">11 ngày</option>
                        <option value="12">12 ngày</option>
                        <option value="13">13 ngày</option>
                        <option value="14">14 ngày</option>
                        <option value="15">15 ngày</option>
                        <option value="16">16 ngày</option>
                        <option value="17">17 ngày</option>
                        <option value="18">18 ngày</option>
                        <option value="19">19 ngày</option>
                        <option value="20">20 ngày</option>
                      </select>
                      <select *ngIf="classifyChart == 'month'" (change)="timePeriod($event.target.value)"
                              style="height: 43px;">
                        <option value="1">1 tháng</option>
                        <option value="2">2 tháng</option>
                        <option value="3">3 tháng</option>
                        <option value="4">4 tháng</option>
                        <option value="5">5 tháng</option>
                        <option value="6">6 tháng</option>
                        <option value="7">7 tháng</option>
                        <option value="8">8 tháng</option>
                        <option value="9">9 tháng</option>
                        <option value="10">10 tháng</option>
                        <option value="11">11 tháng</option>
                        <option value="12">12 tháng</option>
                      </select>
                      <select *ngIf="classifyChart == 'year'" (change)="timePeriod($event.target.value)"
                              style="height: 43px;">
                        <option value="1">1 năm</option>
                        <option value="2">2 năm</option>
                        <option value="3">3 năm</option>
                        <option value="4">4 năm</option>
                        <option value="5">5 năm</option>
                      </select>

                    </div>

                  </div>
                  <input type="submit" value="Xem biểu đồ" (click)="letDrawChart(dateChart,periodChart)"
                         *ngIf="classifyChart == 'date'">
                  <input type="submit" value="Xem biểu đồ" (click)="letDrawChart(monthChart,periodChart)"
                         *ngIf="classifyChart == 'month'">
                  <input type="submit" value="Xem biểu đồ" (click)="letDrawChart(yearChart,periodChart)"
                         *ngIf="classifyChart == 'year'">
                </form>
                <!-- Chart -->
                <div style="border-bottom: 2px solid #b53f3f2e;">
                  <div id="chartContainer" style="height: 370px; width: 100%;">

                  </div>

                </div>
              </div>
              <!--Thống kê tương tác -->

              <!--Thống kê người dùng -->
              <div *ngIf="isFlatShowUser" id="showUser" style="">
                <h4 style="text-transform: none;text-align: center;">Thống kê người dùng</h4>
                <h5 style="text-transform: none;">Nhập tên tag để tìm kiếm người dùng</h5>
                <div>
                  <form style="margin: 0px">
                    <div style="min-width: 100%;">
                      <input type="text" data-role="tagsinput" placeholder="Nhập tag"
                             style="max-width: 100%;border: 1px solid #0E76A8;padding: 1rem;" #tagInput
                             (keyup.enter)="getSearchTag(0, tagInput.value)">
                      <button class="fa fa-search" style="height: 35px;margin-bottom: 9px"
                              (click)="getSearchTag(0, tagInput.value)"></button>
                    </div>

                  </form>

                  <h6><a (click)="getAllUser(0)" style="cursor: pointer;">Xem tất cả người dùng ở đây</a></h6>
                </div>

                <div id=" table-wrapper"><!-- -->
                  <!-- show All user -->
                  <div *ngIf="isFlatShowAllUser">
                    <h5 style="text-transform: none">Tất cả người dùng</h5>
                    <table style="text-align: center;" class="tagInShowUser">
                      <tbody>
                      <tr class="" style="">
                        <td>STT</td>
                        <td>Tên tài khoản</td>
                        <td>Email/ Facebook</td>
                        <td>Lượt xem</td>
                        <td>Tông điểm</td>
                      </tr>
                      <tr class="" *ngFor="let userAll of getAllUser$.appUsersByPageIndex">
                        <td></td>

                        <td class="" *ngIf="userAll.socialUser != null" style="text-align: left"><a
                          (click)="userDetail(userAll.userId)">{{userAll.socialUser.name}}</a>
                        </td>
                        <td class="" *ngIf="userAll.socialUser == null" style="text-align: left">Anonymous(Id:
                          {{userAll.userId}})
                        </td>
                        <td *ngIf="userAll.socialUser != null" style="text-align: left">{{userAll.socialUser.email}}
                        </td>
                        <td *ngIf="userAll.socialUser == null" style="text-align: left">Anonymous</td>
                        <td>{{userAll.viewCount}}</td>
                        <td class=" ">{{userAll.reputation}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="phan-trang clear" *ngIf="getAllUser$.numberOfPages != 1">
                      <div class="pagination" style="background-color: lightblue">

                        <a *ngFor="let page of arrayPage(getAllUser$.numberOfPages) let i = index"
                           (click)="getAllUser(i);setRow(i)" [ngClass]="{'highlight': selectedIndex === i}"
                           onclick="setStyle()" id="numberIndex">{{i+1}}</a>

                      </div>
                    </div>
                  </div>
                  <!-- show All user -->

                  <div *ngIf="tagDetail">
                    <h5 style="text-transform: none">Thông tin tag(bấm để hiện người dùng)</h5>
                    <table class="scrollable tagInShowUser">
                      <tr style="text-align: center">
                        <td>STT</td>
                        <td>Tên tag</td>
                        <td>Lượt xem</td>
                        <td>Số điểm</td>
                      </tr>
                      <tr style="text-align: center" *ngFor="let object of getTagSearchUserManage$.tagsByPageIndex"
                          (click)="getUserByTag(object.tagId)">
                        <td></td>
                        <td><a>{{object.name}}</a></td>
                        <td>{{object.viewCount}}</td>
                        <td>{{object.reputation}}</td>
                      </tr>
                    </table>
                  </div>

                  <div *ngIf="tagUserDetail">
                    <h5><span style="text-transform: none">Người dùng có tag</span> {{tagInput.value}}</h5>
                    <table style="text-align: center;" class="tagInShowUser">
                      <tbody>
                      <tr class="" style="">
                        <td>STT</td>
                        <td>Tên tài khoản</td>
                        <td>Email/ Facebook</td>
                        <td>Tông điểm</td>
                      </tr>
                      <tr class="" *ngFor="let user of getUserByTag$">
                        <td></td>
                        <td class="" style="text-align: left"><a (click)="userDetail(user.appUser.userId)">{{user.appUser.socialUser.name}}</a>
                        </td>
                        <td class=" " style="text-align: left">{{user.appUser.socialUser.email}}</td>
                        <td class=" ">{{user.appUser.reputation}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
              <!--Thống kê người dùng -->

              <!--Thống kê báo cáo -->
              <div *ngIf="isFlatShowReport" id="report">
                <h4 style="text-transform: none;text-align: center;">Thống kê báo cáo</h4>
                <ul id="showReport">
                  <h5 style="text-transform: none;">Người dùng gửi report</h5>
                  <table class="scrollable tagInShowUser">
                    <tr style="text-align: center">
                      <td>STT</td>
                      <td>Tên tài khoản</td>
                      <td>Loại tài khoản</td>
                      <td>Số lần gửi report</td>
                    </tr>
                    <tr style="text-align: center" *ngFor="let report of getReportUser$.userAndReportTimes"
                        (click)="getReportDetail(report.userId,0)">
                      <td></td>
                      <td *ngIf="report.fullName != null"><a style="cursor: pointer;">{{report.fullName}}</a></td>
                      <td *ngIf="report.fullName == null"><a style="cursor: pointer;">Anonymus {{report.userId}}</a></td>
                      <td>{{report.role}}</td>
                      <td>{{report.numberOfReports}}</td>
                    </tr>
                  </table>
                  <div class="phan-trang clear"
                       *ngIf="getReportUser$.numberOfPages != 1 && getReportUser$.numberOfPages != null">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getReportUser$.numberOfPages) let i = index"
                         (click)="getReport(i);setRow(i)" [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                  <form *ngIf="reportDetail">
                    <h5>Chi tiết các báo cáo</h5>
                    <div *ngFor="let reportUser of getReport$.reportsByPageIndex">
                      <table class="table-report" style="margin-bottom: 0%">
                        <tr class="table-report-first">
                          <td class="label-report">Người báo cáo :</td>
                          <td class="content-report" *ngIf="reportUser.appUser.socialUser != null">
                            <a>{{reportUser.appUser.socialUser.name}}</a>
                          </td>
                          <td class="content-report" *ngIf="reportUser.appUser.socialUser == null">
                            <a>Anonymus {{reportUser.appUser.userId}}</a>
                          </td>
                          <td class="label-report">Ngày gửi</td>
                          <td class="content-report">{{reportUser.utilTimestamp| date: 'yyyy-MM-dd'}}</td>
                        </tr>
                        <tr>
                          <td class="label-report">Người bị báo cáo :</td>
                          <td class="content-report" *ngIf="reportUser.question.appUser.socialUser != null">
                            <a>{{reportUser.question.appUser.socialUser.name}}</a>
                          </td>
                          <td class="content-report" *ngIf="reportUser.question.appUser.socialUser == null">
                            <a>Anonymus {{reportUser.question.appUser.userId}}</a>
                          </td>
                          <td class="label-report">Thể loại</td>
                          <td class="content-report">Câu hỏi</td>
                        </tr>
                        <tr>

                          <td class="label-report">Lí do :</td>
                          <td class="content-report" colspan="3">{{reportUser.message}}</td>
                        </tr>
                        <tr>
                          <td class="label-report">Link câu hỏi :</td>
                          <td class="content-report" colspan="3"><a (click)="gotoDetailPage(reportUser.question)">{{reportUser.question.title}}</a>
                          </td>
                        </tr>


                      </table>
                      <button (click)="deleteReport(reportUser)">Xóa báo cáo</button>

                    </div>

                  </form>
                  <div class="phan-trang clear"
                       *ngIf="getReport$.numberOfPages != 1 && getReport$.numberOfPages != null">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getReport$.numberOfPages) let i = index"
                         (click)="getReportDetail(getReport$.reportsByPageIndex.appUser.userId,i);setRow(i)"
                         [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                </ul>
              </div>

              <!--Show artile -->
              <div *ngIf="isFlatShowArticle" id="article">
                <h4 style="text-transform: none;text-align: center">Thống kê bài viết</h4>
                <div>
                  <h5 style="text-transform: none;">Tìm kiếm</h5>
                  <input #articleTitle (keyup.enter)="searchArticle(articleTitle.value, pageIndexArticleSearch$)"
                         class="searchArticle" style="float: left;">
                  <button class="fa fa-search" style="height: 41px;width: 40px;margin-bottom: 9px"
                          (click)="searchArticle(articleTitle.value, pageIndexArticleSearch$)"></button>

                </div>

                <div *ngIf="!checkSearch">
                  <div>
                    <select (change)="getSortByArticle($event.target.value)">
                      <option value="date">Sắp xếp theo thời gian</option>
                      <option value="viewCount">Sắp xếp theo lượt xem</option>
                      <option value="upvoteCount">Sắp xếp theo lượt thích</option>
                    </select>
                  </div>
                  <h5 style="text-transform: none">Tất cả bài viết </h5>
                  <table class="scrollable ">
                    <tr style="text-align: center">
                      <td>STT</td>
                      <td style="min-width: 17rem;">Tiêu đề</td>
                      <td>Thể loại</td>
                      <td>Người đăng</td>
                      <td>Lượt xem</td>
                      <td>Ngày đăng</td>
                    </tr>
                    <tr style="text-align: center"
                        *ngFor="let article of getAllarticle$.articlesByPageIndex let i = index">
                      <td>{{i+1+pageIndexArticle$*10}}</td>
                      <td style="text-align: left;"><a (click)="goToArticlePage(article)" style="cursor: pointer;">{{article.title}}</a>
                      </td>
                      <td style="text-align: left;">{{article.category}}</td>
                      <td style="text-align: left;">{{article.appUser.socialUser.name}}</td>
                      <td style="text-align: left;">{{article.viewCount}}</td>
                      <td style="text-align: left;">{{article.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                    </tr>

                  </table>
                  <div class="phan-trang clear" *ngIf="getAllarticle$.numberOfPages != 1">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getAllarticle$.numberOfPages) let i = index"
                         (click)="getAllarticle(sortArticleBy$,i);setRow(i)"
                         [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                </div>

                <div *ngIf="checkSearch">
                  <h5 style="text-transform: none">Kết quả tìm kiếm của <span> " {{articleTitle.value}} " </span></h5>
                  <table class="scrollable ">
                    <tr style="text-align: center">
                      <td>STT</td>
                      <td style="min-width: 17rem;">Tiêu đề</td>
                      <td>Thể loại</td>
                      <td>Người đăng</td>
                      <td>Lượt xem</td>
                      <td>Ngày đăng</td>
                    </tr>
                    <tr style="text-align: center"
                        *ngFor="let article of getArticle$.articlesByPageIndex let i = index">
                      <td>{{i+1+pageIndexArticleSearch$*10}}</td>
                      <td style="text-align: left;"><a (click)="goToArticlePage(article)" style="cursor: pointer;">{{article.title}}</a>
                      </td>
                      <td style="text-align: left;">{{article.category}}</td>
                      <td style="text-align: left;">{{article.appUser.socialUser.name}}</td>
                      <td style="text-align: left;">{{article.viewCount}}</td>
                      <td style="text-align: left;">{{article.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                    </tr>

                  </table>
                  <div class="phan-trang clear" *ngIf="getArticle$.numberOfPages != 1">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getArticle$.numberOfPages) let i = index"
                         (click)="searchArticle(articleTitle.value,i);setRow(i)"
                         [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                  <h5 style="text-transform: none"><a (click)="checkSearch = false" style="cursor: pointer;">Tất cả bài
                    viết </a></h5>
                </div>


              </div>

              <!--Show tags -->
              <div *ngIf="isFlatShowtags" id="tags">
                <h4 style="text-transform: none;text-align: center;">Thống kê tag</h4>
                <h5 style="text-transform: none;">Sắp xếp theo
                  <select style="width: fit-content;margin: 0;" (change)="sortTagBy($event.target.value)">
                    <option value="viewCount">Lượt xem</option>
                    <option value="upvoteCount">Tổng điểm</option>
                    <option value="trend">Xu hướng</option>
                  </select>
                </h5>
                <table class="scrollable">
                  <tr style="text-align: center">
                    <td>STT</td>
                    <td>Tên tag</td>
                    <td>Lượt xem</td>
                    <td>Số điểm</td>
                    <td>Lượt xem 7 ngày trước</td>
                  </tr>
                  <tr style="text-align: center" *ngFor="let object of getObjectTag$.tagsByPageIndex let i = index">
                    <td>{{i+1+pageIndexReport$*10}}</td>
                    <td>{{object.name}}</td>
                    <td>{{object.viewCount}}</td>
                    <td>{{object.reputation}}</td>
                    <td>{{object.viewCountOneWeekAgo}}(+{{object.increasementOneWeekAgoTillNow}})</td>
                  </tr>
                </table>
                <div class="phan-trang clear" *ngIf="getObjectTag$.numberOfPages != 1">
                  <div class="pagination" style="background-color: lightblue">

                    <a *ngFor="let page of arrayPage(getObjectTag$.numberOfPages) let i = index"
                       (click)="getAllTag(sortBy$,i);setRow(i)"
                       [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                  </div>
                  <h6 style="text-transform: none"><a (click)="showAllQuestion()" style="cursor: pointer">Xem tất cả câu
                    hỏi</a></h6>
                </div>
              </div>

              <!--Show câu hỏi -->
              <div *ngIf="isFlatShowQuestion" id="question">
                <h4 style="text-transform: none;text-align: center;">Thống kê câu hỏi</h4>
                <div>
                  <h5 style="text-transform: none;">Tìm kiếm</h5>
                  <input #questionSearch (keyup.enter)="searchQuestion(questionSearch.value,0)"
                         class="searchArticle" style="float: left;">
                  <button class="fa fa-search" style="height: 41px;width: 40px;margin-bottom: 9px"
                          (click)="searchQuestion(questionSearch.value,0)"></button>
                </div>

                <div *ngIf="!checkSearchQuestion">
                  <div>
                    <h5 style="text-transform: none;">Sắp xếp theo
                      <select style="width: fit-content;margin: 0;" (change)="sortBy($event.target.value)">
                        <option value="viewCount">Lượt xem</option>
                        <option value="upvoteCount">Tổng điểm</option>
                        <option value="date">Ngày đăng</option>
                      </select>
                    </h5>
                  </div>
                  <h5 style="text-transform: none;">Tất cả câu hỏi</h5>
                  <table class="scrollable">
                    <tr style="text-align: center">
                      <td>STT</td>
                      <td style="min-width: 10rem;">Tiêu đề</td>
                      <td>Người đăng</td>
                      <td>Lượt xem</td>
                      <td>Số trả lời</td>
                      <td>Số điểm</td>
                      <td>Ngày đăng</td>
                    </tr>
                    <tr style="text-align: center" *ngFor="let object of getObject$.qa let i = index">
                      <td>{{i+1+pageIndex$*10}}</td>
                      <td style="text-align: left;"><a (click)="gotoDetailPage(object)" style="cursor: pointer;">{{object.title}}</a>
                      </td>
                      <td style="text-align: left;" *ngIf="object.appUser.socialUser != null">
                        {{object.appUser.socialUser.name}}
                      </td>
                      <td style="text-align: left;" *ngIf="object.appUser.socialUser == null">Anonymus
                        {{object.appUser.userId}}
                      </td>
                      <td style="text-align: left;">{{object.viewCount}}</td>
                      <td style="text-align: left;">{{getNumber(object.answers)}}</td>
                      <td style="text-align: left;" *ngIf="object.reputation != null">{{object.reputation}}</td>
                      <td style="text-align: left;" *ngIf="object.reputation == null">0</td>
                      <td style="text-align: left;"> {{object.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                  </table>
                  <div class="phan-trang clear" *ngIf="getObject$.numberOfPages != 1">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getObject$.numberOfPages) let i = index"
                         (click)="getQa(sortBy$,i);setRow(i)" [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                </div>
                <div *ngIf="checkSearchQuestion">
                  <h5 style="text-transform: none">Kết quả tìm kiếm của <strong>{{questionSearch.value}}</strong></h5>
                  <table class="scrollable ">

                    <tr style="text-align: center">
                      <td>STT</td>
                      <td style="min-width: 10rem;">Tiêu đề</td>
                      <td>Người đăng</td>
                      <td>Lượt xem</td>
                      <td>Số trả lời</td>
                      <td>Số điểm</td>
                      <td>Ngày đăng</td>
                    </tr>
                    <tr style="text-align: center" *ngFor="let object of getQuestionSearch.qa let i = index">
                      <td>{{i+1+pageIndex$*10}}</td>
                      <td style="text-align: left;"><a (click)="gotoDetailPage(object)" style="cursor: pointer;">{{object.title}}</a>
                      </td>
                      <td style="text-align: left;" *ngIf="object.appUser.socialUser != null">
                        {{object.appUser.socialUser.name}}
                      </td>
                      <td style="text-align: left;" *ngIf="object.appUser.socialUser == null">Anonymus
                        {{object.appUser.userId}}
                      </td>
                      <td style="text-align: left;">{{object.viewCount}}</td>
                      <td style="text-align: left;">{{getNumber(object.answers)}}</td>

                      <td style="text-align: left;" *ngIf="object.reputation != null">{{object.reputation}}</td>
                      <td style="text-align: left;" *ngIf="object.reputation == null">0</td>
                      <td style="text-align: left;">{{object.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                  </table>
                  <div class="phan-trang clear" *ngIf="getQuestionSearch.numberOfPages != 1">
                    <div class="pagination" style="background-color: lightblue">

                      <a *ngFor="let page of arrayPage(getQuestionSearch.numberOfPages) let i = index"
                         (click)="searchQuestion(questionSearch.value,i);setRow(i)" [ngClass]="{'highlight': selectedIndex === i}">{{i+1}}</a>

                    </div>
                  </div>
                  <h6 style="text-transform: none"><a (click)="showAllQuestion()" style="cursor: pointer">Xem tất cả câu
                    hỏi</a></h6>
                </div>

              </div>
            </div>
          </div>
          <!--end báo cáo -->
        </div>

      </nav>

    </div>

    <!-- chia trang -->
  </div>

</div>
<!-- ################################################################################################ -->
<!-- footer-->





