<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background-image:url('../../assets/images/demo/backgrounds/01.png');">
  <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a style="font-size: 17px; color: #F7AF9D;letter-spacing: 5px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;  text-align: center; text-transform: uppercase;" href="index.html">FPT developer Team</a></h1>
      </div>

      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html"(click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh"(click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a  href="/qa-page" routerLinkActive="active"(click)="click()">Hỏi - Đáp</a></li>
          <!--<li><a (click)="click()">Liên hệ</a></li>-->

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->


  <div id="pageintro" class="hoc clear">
    <article>
      <!-- search -->
      <div class="inner-form">
        <div class="input-field">
          <button class="btn-search" type="button" id="buttonSearch" [ngx-scroll-to]="topView" (click)="getTop(textSearch.value)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            </svg>
          </button>
          <input #textSearch id="search" type="text" placeholder="" value=""
                 (keyup.enter)="getTop(textSearch.value)"  onkeypress="scrollDiv(event)"  />

        </div>
      </div>


      <!-- ################################################################################################ -->
      <h3 class="heading" style="text-transform: none;font-family: Verdana, Geneva, sans-serif">Nông trại thông thái</h3>
      <p style="font-family: Verdana, Geneva, sans-serif">Nơi chia sẻ những kinh nghiệm quý báu về cây nông nghiệp</p>
      <p class="font-x1 uppercase bold" style="font-family: Verdana, Geneva, sans-serif">Cùng nhau phát triển nghề nông</p>
      <footer>
        <ul class="nospace inline pushright">
          <!--<li><a style="" class="btn inverse button-home" [ngx-scroll-to]="topView">Danh mục đáng chú ý</a></li>-->
          <li><a class="btn inverse button-home" [ngx-scroll-to]="benefit">Lợi ích người dùng</a></li>
        </ul>
      </footer>

      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
  <div #topView  id="topView"></div>
  <div class="wrapper row3"  *ngIf="showTopSearch$">
    <section class="hoc container clear" style="padding-bottom: 0%;">
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading" style="font-family: Arial">Kết quả tìm kiếm cho {{searchText}}</h6>
      </div>
      <div class="group testimonials">
        <div class="one_half first">
          <p class="customP">Kiến thức</p>
          <div class="topFive">
            <!--##################################################3-->
            <div class="arcticle" *ngFor="let article of getTopArticle$.articlesByPageIndex">
              <!--<img src="../../assets/images/demo/100x100.png" class="arcticleImage">-->
              <a class="articleTitle" (click)="goToArticleDetail(article)"  >{{article.title}}</a>
              <p>Danh mục: {{article.category}}</p>
              <p>Thời gian: {{article.utilTimestamp | date: 'yyyy-MM-dd' }}</p>
              <p>Lượt xem: {{article.viewCount}}</p>
            </div>

            <!--##################################################3-->
          </div>
        </div>
        <div class="one_half">
          <p class="customP"> Câu hỏi</p>
          <div class="topFive">
            <div class="question" *ngFor="let qa of getTopQuestion$.qa">
              <!--<img src="../../assets/images/demo/100x100.png" class="arcticleImage">-->
              <a class="clickTitle" (click)="goToQuestionDetail(qa)">Tiêu đề {{qa.title}}</a>
              <p>Thời gian: {{qa.utilTimestamp | date: 'yyyy-MM-dd' }}</p>
              <p>Lượt xem: {{qa.viewCount}}</p>
            </div>

          </div>
        </div>
      </div>
      <!-- ################################################################################################ -->
    </section>
  </div>

  <!--/*For developer*/-->
  <div class="wrapper row3" #benefit>
    <section class="hoc container clear">
      <div class="sectiontitle">
        <h6 class="heading" style="text-transform: none;">Lợi ích người dùng</h6>
      </div>
      <div class="group testimonials">
        <div class="one_half first">
          <p class="customP">Người dùng phổ thông</p>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Nhà nông thông thái là một cộng đồng mở cho tất cả mọi người</span>
          </div>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Chúng tôi đồng hành cùng bạn tìm kiếm, chia sẻ những giải đáp cũng như kiến thức liên quan đến nông nghiệp</span>
          </div>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Với mỗi đóng góp được đánh giá từ cộng đồng, chúng tôi giúp bạn xây dựng bảng thành tích đẹp đẽ nhất để chinh phục nhà tuyển dụng</span>
          </div>
        </div>

        <div class="one_half">
          <p class="customP"> Nhà tuyển dụng</p>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Nhiệm vụ của chúng tôi là giúp bạn tìm kiếm "chuyên gia" và trở thành "chuyên gia"</span>
          </div>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Điều này có nghĩa là chúng tôi sẽ giúp bạn tìm kiếm những người thực sự tài giỏi trong lĩnh vực mà doanh nghiệp của bạn cần</span>
          </div>
          <div class="benefit">
            <div style="height: 0px">*</div>
            <span>Hơn thế nữa, cung cấp cho họ môi trường để chia sẻ kiến thức, học hỏi và cải tiến năng suất làm việc</span>
          </div>

        </div>
      </div>
    </section>
  </div>

  <!-- ########################################################################################-->
</div>
<!-- Phan trang chu hien thi thong tin, background ....-->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



