<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background-image:url('../../assets/images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a style="font-size: 17px; color: #F7AF9D;letter-spacing: 5px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;  text-align: center; text-transform: uppercase;" href="index.html">FPT developer Team</a></h1>
      </div>

      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a  href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a >Liên hệ</a></li>

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->


  <div id="pageintro" class="hoc clear">
    <article>
      <!-- search -->
      <div class="inner-form">
        <div class="input-field">
          <button class="btn-search" type="button" id="buttonSearch" [ngx-scroll-to]="topView" (click)="getTop(textSearch.value)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            </svg>
          </button>
          <input #textSearch id="search" type="text" placeholder="" value=""
                 (keyup.enter)="getTop(textSearch.value)"  onkeypress="scrollDiv(event)"  />

        </div>
      </div>


      <!-- ################################################################################################ -->
      <h3 class="heading" style="text-transform: none;">Nông trại thông thái</h3>
      <p>Nơi chia sẻ những kinh nghiệm quý báu về cây nông nghiệp</p>
      <p class="font-x1 uppercase bold">Cùng nhau phát triển nghề nông</p>
      <footer>
        <ul class="nospace inline pushright">
          <!--<li><a style="" class="btn inverse button-home" [ngx-scroll-to]="topView">Danh mục đáng chú ý</a></li>-->
          <li><a class="btn inverse button-home" [ngx-scroll-to]="benefit">Lợi ích người dùng</a></li>
        </ul>
      </footer>

      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
  <div #topView  id="topView"></div>
  <div class="wrapper row3"  *ngIf="showTopSearch$">
    <section class="hoc container clear" style="padding-bottom: 0%;">
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">Kết quả tìm kiếm cho {{searchText}}</h6>
      </div>
      <div class="group testimonials">
        <div class="one_half first">
          <p class="customP">Kiến thức</p>
          <div class="topFive">
            <!--##################################################3-->
            <div class="arcticle" *ngFor="let article of getTopArticle$.articlesByPageIndex">
              <!--<img src="../../assets/images/demo/100x100.png" class="arcticleImage">-->
              <a class="articleTitle" (click)="goToArticleDetail(article)"  >{{article.title}}</a>
              <p>Danh mục: {{article.category}}</p>
              <p>Thời gian: {{article.utilTimestamp | date: 'yyyy-MM-dd' }}</p>
              <p>Lượt xem: {{article.viewCount}}</p>
            </div>

            <!--##################################################3-->
          </div>
        </div>
        <div class="one_half">
          <p class="customP"> Câu hỏi</p>
          <div class="topFive">
            <div class="question" *ngFor="let qa of getTopQuestion$.qa">
              <!--<img src="../../assets/images/demo/100x100.png" class="arcticleImage">-->
              <a class="clickTitle" (click)="goToQuestionDetail(qa)">Tiêu đề {{qa.title}}</a>
              <p>Thời gian: {{qa.utilTimestamp | date: 'yyyy-MM-dd' }}</p>
              <p>Lượt xem: {{qa.viewCount}}</p>
            </div>

          </div>
        </div>
      </div>
      <!-- ################################################################################################ -->
    </section>
  </div>

  <!--/*For developer*/-->
  <div class="wrapper row3" #benefit>
    <section class="hoc container clear">
      <div class="sectiontitle">
        <h6 class="heading">Lợi ích người dùng</h6>
      </div>
      <div class="group testimonials">
        <div class="one_half first">
          <p class="customP">Người dùng phổ thông</p>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Nhà nông thông thái là một cộng đồng mở cho tất cả mọi người</span>
          </div>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Chúng tôi đồng hành cùng bạn tìm kiếm, chia sẻ những giải đáp cũng như kiến thức liên quan đến nông nghiệp</span>
          </div>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Với mỗi đóng góp được đánh giá từ cộng đồng, chúng tôi giúp bạn xây dựng bảng thành tích đẹp đẽ nhất để chinh phục nhà tuyển dụng</span>
          </div>
        </div>

        <div class="one_half">
          <p class="customP"> Nhà tuyển dụng</p>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Nhiệm vụ của chúng tôi là giúp bạn tìm kiếm "chuyên gia" và trở thành "chuyên gia"</span>
          </div>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Điều này có nghĩa là chúng tôi sẽ giúp bạn tìm kiếm những người thực sự tài giỏi trong lĩnh vực mà doanh nghiệp của bạn cần</span>
          </div>
          <div class="benefit">
            <img src="../../assets/images/point.png" style="height: 20px">
            <span>Hơn thế nữa, cung cấp cho họ môi trường để chia sẻ kiến thức, học hỏi và cải tiến năng suất làm việc</span>
          </div>

        </div>
      </div>
    </section>
  </div>

  <!-- ########################################################################################-->
</div>
<!-- Phan trang chu hien thi thong tin, background ....-->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('https://storage.googleapis.com/sonson-1-bucket/images.jpg');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line">  Lê Thu Hà</li>
        <li class="space_line">  Nguyễn Phúc Minh Sơn</li>
        <li class="space_line">  Nguyễn Duy Hiển</li>
        <li class="space_line">  Trần Hồng Quỳnh</li>
        <li class="space_line">  Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Ngày phát hành</a></h6>
          <time class="font-xs block btmspace-10" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>


