<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <ngx-loading [show]="loading"
               [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li><a href="index.html" (click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh" (click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li class="active"><a href="/qa-page" routerLinkActive="active" (click)="click()">Hỏi - Đáp</a></li>
          <li *ngIf="isLoggedIn()"><a (click)="userDetails()" style="cursor: pointer">Trang cá nhân</a></li>

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3" style="background: #f2f2f2">
  <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;">
    <!-- ################################################################################################ -->

    <!--Content -->
    <div class="content three_quarter first">

      <ul style="margin-bottom: unset;">
        <!--QA -->
        <li
          style="color: black;margin-bottom: 0px;border-bottom: groove;margin-top: 10px;padding: 15px 15px 0 15px; list-style-type: none;">
          <article>
            <header>
              <figure class="avatar" style="float: left;cursor: pointer"><img
                *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==true"
                src="../../assets/images/demo/avatar.png" alt="">
                <img *ngIf="qa$.appUser==null"
                     src="../../assets/images/demo/avatar.png" alt="">
                <img *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==false"
                     src="{{qa$.appUser.socialUser.photoUrl}}" alt="" (click)="userDetail(qa$.appUser.userId)">
              </figure>
              <address style="text-align: left;font-size: 12px;color: dodgerblue;margin-left: 15%;">
                <a *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==true">anonymous </a>
                <a *ngIf="qa$.appUser==null">anonymous </a>
                <a *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==false" (click)="userDetail(qa$.appUser.userId)">{{qa$.appUser.socialUser.name}}</a>
                <time style="font-size: 13px;float: right "><span style="color: #7c7f85 !important;">Ngày đăng:</span>{{qa$.utilTimestamp
                  | date: 'yyyy-MM-dd'}}
                </time>
              </address>
              <h3 style="font-family: 'Times New Roman';text-align: left;padding-top: 8px;margin-left: 15%;
                  font-weight: bold;font-size: 19px;overflow: hidden;white-space: pre-wrap;">
                <p class="title-qa">{{qa$.title}}</p>
              </h3>
            </header>
            <div class="comcont" style="margin-top: 2%">
              <p innerHTML="{{qa$.content}}" style="max-width: 100% !important;text-align: left;color: grey"></p>
            </div>
            <div class="question-tag">

              <p *ngFor="let tag of qa$.tags" style="padding: 0% 2% !important;font-size: 15px"
                 (click)="getQaByTag(tag.tagId)">
                {{tag.name}}</p>

            </div>
            <!--Like -->
            <div class="question-footer">
              <div *ngIf="!checkLikeButton$" style="padding-top: 3px; cursor: pointer"
                   (click)="upvoteQuestion(qa$.questionId)"><i class="fa fa-heart-o icon-like"></i>
                <a> Thích</a></div>
              <!--<div *ngIf="!checkLikeButton$ && qa$.upvoteCount == null" style="padding-top: 3px; cursor: pointer"-->
                   <!--(click)="upvoteQuestion(qa$.questionId)"><i class="fa fa-heart-o icon-like"></i>-->
                <!--<a>0 Thích</a></div>-->
              <div *ngIf="checkLikeButton$" style="padding-top: 3px; cursor: pointer"
                   (click)="upvoteQuestion(qa$.questionId)"><i class="fa fa-heart icon-like"></i>
                <a> Đã thích</a></div>
              <div style="padding-top: 3px; cursor: pointer" (click)="facebookSharing(shareObj)"><i
                class="fa fa-share icon-like"></i><a>Chia sẻ</a></div>
            </div>
            <!--Like -->

            <div class="report-delete">
              <div *ngIf="checkAuthen()" style="border: none;cursor: pointer;"><i class="fa fa-edit"></i><a
                (click)="edit(qa$)">Chỉnh sửa câu hỏi</a>
              </div>
              <div *ngIf="checkAuthen() && checkAdmin !='ADMIN'" style="border: none;cursor: pointer;"><i
                class="fa fa-delicious"></i><a
                (click)="deleteQa(qa$.questionId)">Xóa câu hỏi</a></div>
              <div *ngIf="!checkAuthen()" style="border: none;cursor: pointer;"><i class="fa fa-edit"></i><a
                onclick="openForm()">Báo cáo câu hỏi</a>
              </div>
              <div *ngIf="checkAdmin =='ADMIN'" style="border: none;cursor: pointer;"><i class="fa fa-remove"></i><a
                (click)="deleteQuestionByAdmin(qa$)">Admin xóa câu hỏi</a>
              </div>
              <div class="form-popup" id="myForm" style="padding: 0%;">
                <form action="/action_page.php" class="form-container">
                  <h3 style="text-transform: none;text-align: center">Báo cáo câu hỏi</h3>

                  <label style="text-align: center"><b>Chọn lí do</b></label>
                  <div style="display: -webkit-box">
                    <input type="radio" value="Nội dung không phù hợp" id="1" name="reason"
                           (click)="onItemChange($event)" checked/>
                    <label for="1">Nội dung không phù hợp</label>
                  </div>
                  <div style="display: -webkit-box">
                    <input type="radio" value="Spam" id="2" name="reason" (click)="onItemChange($event)"/>
                    <label for="2">Spam</label>
                  </div>
                  <div style="display: -webkit-box">
                    <input type="radio" value="Gây hiểu lầm hoặc lừa đảo" id="3" name="reason"
                           (click)="onItemChange($event)"/>
                    <label for="3">Gây hiểu lầm hoặc lừa đảo</label>
                  </div>

                  <button type="submit" class="btn" (click)="reportQa(qa$)" onclick="closeForm()">Gửi báo cáo</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Hủy</button>
                </form>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <div>
        <div style="border-bottom: 1.5px solid #9E9E9E;margin-left: 3%">
          <h4 class="numberAns">{{getNumber(qa$.answers)}} Câu trả lời</h4>
        </div>
        <!--Answer -->

        <div style="margin-top: 50px;">
          <ul style="margin-top: -7px;margin-bottom: unset;">
            <!--QA -->
            <li *ngFor="let answer of qa$.answers let i = index"
                style="color: black;margin-bottom: 0px;border-bottom: groove;margin-top: 10px;padding: 15px 15px 0 15px;list-style-type: none;">
              <article>
                <header>
                  <figure class="avatar" style="float: left;cursor: pointer"><img
                    *ngIf="answer.appUser!=null&&answer.appUser.anonymous==true"
                    src="../../assets/images/demo/avatar.png" alt="">
                    <img *ngIf="answer.appUser==null"
                         src="../../assets/images/demo/avatar.png" alt="">
                    <img *ngIf="answer.appUser!=null&&answer.appUser.anonymous==false"
                         src="{{answer.appUser.socialUser.photoUrl}}" alt=""
                         (click)="userDetail(answer.appUser.userId)">
                  </figure>
                  <address style="text-align: left;font-size: 12px;color: dodgerblue;margin-left: 10%">
                    <a *ngIf="answer.appUser!=null&&answer.appUser.anonymous==false"
                       (click)="userDetail(answer.appUser.userId)">{{answer.appUser.socialUser.name}}</a>
                    <!--Name of user -->
                    <a *ngIf="answer.appUser==null">Anonymous</a>
                    <a *ngIf="answer.appUser!=null&&answer.appUser.anonymous==true">Anonymous</a>
                    <p style="max-width: 100%;">
                      <time style="font-size: 13px; "><span style="color: #7c7f85 !important;">Ngày đăng:</span>
                        {{answer.utilTimestamp | date: 'yyyy-MM-dd'}}
                      </time>
                    </p>
                  </address>

                </header>
                <div class="comcont">
                  <p style="max-width: 100% !important;text-align: left;color: grey">{{answer.content}}</p>
                </div>

                <div class="question-footer">
                  <button *ngIf="!checklike(answer) && answer.upvoteCount != null "
                          (click)="upvoteAnswer(answer.answerId)"
                          style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a>
                    {{answer.upvoteCount}} Thích</a>
                  </button>
                  <button *ngIf="!checklike(answer) && answer.upvoteCount == null "
                          (click)="upvoteAnswer(answer.answerId)"
                          style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a> 0
                    Thích</a>
                  </button>

                  <button *ngIf="checklike(answer) && answer.upvoteCount != null"
                          (click)="upvoteAnswer(answer.answerId)"
                          style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a>
                    {{answer.upvoteCount}} Đã thích</a>
                  </button>
                  <button *ngIf="checklike(answer) && answer.upvoteCount == null"
                          (click)="upvoteAnswer(answer.answerId)"
                          style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a>
                    0 Đã thích</a>
                  </button>
                  <!--<button style="padding-top: 3px;" class="btn like share"><i class="fa fa-share"></i><a-->
                    <!--(click)="facebookSharing(shareObj)">-->
                    <!--Chia sẻ</a>-->
                  <!--</button>-->
                  <div *ngIf="checkAdmin =='ADMIN'"
                       style="border: none;cursor: pointer;width: fit-content;text-align: left;margin-left: 2%;"><i
                    class="fa fa-remove"></i><a
                    (click)="deleteAnserByAdmin(answer)">Admin xóa câu trả lời</a>
                  </div>
                </div>
                <div class="report-delete">
                  <div *ngIf="checkAuthenAnswer(answer)" style="border: none;cursor: pointer;"
                       [ngx-scroll-to]="editAns"><i class="fa fa-google"></i><a (click)="editAnswer(answer)">Chỉnh sửa
                    câu trả
                    lời</a></div>
                  <div *ngIf="checkAuthenAnswer(answer)" style="border: none;cursor: pointer;"><i
                    class="fa fa-google"></i><a (click)="deleteAnswer(answer.answerId)">Xóa câu
                    trả lời</a></div>
                </div>
              </article>
            </li>
          </ul>
        </div>


        <!--add answer -->
        <div>
          <div style="padding: 0% 0% 0% 3%;">
            <h3 #editAns>Ý kiến của bạn</h3>
            <form *ngIf="!checkEditAnswer">
              <div class="centent-comment">
                <textarea id="contentOfAnswer" style="width: 100%;" placeholder="Nhập ý kiến của bạn..."
                          [(ngModel)]="ansContent" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              <div class="user-infor">
                <button (click)="addAnswers(ansContent)" type="button" class="addAnswer">
                  Đăng
                </button>
              </div>
            </form>
            <form *ngIf="checkEditAnswer">
              <div class="centent-comment">
                <textarea id="contentOfAnswer" style="width: 100%;"
                          [(ngModel)]="ansContent"
                          [ngModelOptions]="{standalone: true}">{{editAnswer$.content}}</textarea>
              </div>
              <div class="user-infor">
                <button (click)="updateAnwer(ansContent)" type="button" class="addAnswer">
                  Cập nhật
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- menu right side -->
    <div class="sidebar one_quarter" style=" margin-left: 1.5%;">
      <!-- ################################################################################################ -->
      <div class="div-menu-right">
        <div class="ask-place" onclick="">
          <a href="/qa-page-post" class="ask-button">Đặt câu hỏi mới</a>
        </div>
      </div>
      <div class="sdb_holder" style="margin-bottom: 0px;">
        <article class="top-article">
          <!--<ul class="title-menu-right"></ul>-->

          <!--Top question -->
          <h4 style="text-transform: none;text-align: center;">Thông tin liên quan</h4>
          <p class="title-menu-right">
            <img src="../../assets/images/question_icon.png" style="height: 20px;padding-right: 15px;">Top câu hỏi liên
            quan
          </p>
          <ul *ngFor="let item of getObjectTopQa$.qa" id="top-question" style="padding-top: 25px;padding-left: 5px;">
            <li style="list-style-type: none;">
              <span *ngIf="item.appUser.socialUser != null">
                <a (click)="userDetail(item.appUser.userId)"><img src="{{item.appUser.socialUser.photoUrl}}"
                                                                  class="image-user"> </a>
              </span>
              <span *ngIf="item.appUser.socialUser == null"><a><img src="../../../assets/images/demo/avatar.png"
                                                                    class="image-user"> </a></span>
              <div class="title-article"><a (click)="navigate(item)" style="cursor: pointer"> {{item.title}}</a></div>
              <div style="text-align: center">
                <span class="top-article-view">{{getNumber(item.answers)}} trả lời</span>
                <span class="top-article-view">{{item.viewCount}} lượt xem</span>
              </div>
            </li>
          </ul>
        </article>
      </div>


      <!--Top user -->
      <div ng-app="myApp" style="border-bottom: 2px solid #395665;">
        <p class="title-menu-right" style="padding-left: 4%;">
          <img src="../../assets/images/users.png" style="height: 20px;padding-right: 15px;">Top người dùng liên quan
        </p>
        <ul class="" ng-controller="myCtrl">
          <li *ngFor="let item of getAllInforUserRelate; index as i" style="list-style-type: none;">
            <span *ngIf="item.appUser.socialUser != null"><a (click)="userDetail(item.appUser.userId)"><img
              src="{{item.appUser.socialUser.photoUrl}}" class="image-user"> </a></span>
            <span *ngIf="item.appUser.socialUser == null"><a (click)="userDetail(item.appUser.userId)"><img
              src="../../../assets/images/demo/avatar.png" class="image-user"> </a></span>
            <div class="title-article">
              <a *ngIf="item.appUser.socialUser != null" (click)="userDetail(item.appUser.userId)" style="cursor: pointer">
                {{item.appUser.socialUser.name}}</a>
              <span *ngIf="item.appUser.socialUser == null" (click)="userDetail(item.appUser.userId)" style="cursor: pointer">Anonymus
                {{item.appUser.userId}}</span>
              <!--<a (click)="userDetail(item.userId)">{{item.socialUser.name}}</a>-->
              <p>Điểm: {{item.appUser.reputation}}</p>
              <!--<p (click)="getDetailInforUserRelate(i)" style="cursor: pointer;">-->
                <!--<a>Xem chi tiết</a></p>-->
            </div>
            <template id="{{'tagUser' + i}}" style="display: block;"
                      *ngFor="let tagUser of item.appUserTags let index = index">

              <span style="padding: 0 50px;" id="{{'tagUserTag' + index}}">
              <p class="topUser">Tên tag: <a (click)="getQaByTag()">{{tagUser.tag.name}}</a></p>
              <p class="topUser">Lượt xem: {{tagUser.viewCount}} </p>
              <p class="topUser">Tổng điểm: {{tagUser.reputation}} </p>
              </span>
            </template>
          </li>

        </ul>
      </div>

      <!--Top tag -->
      <div class="top-tag">
        <p class="title-menu-right">
          <img src="../../assets/images/tag-icon.png" style="height: 20px;padding-right: 15px;">Top từ khóa
        </p>
        <div class="question-tag">
          <p *ngFor="let tag of getObjectTopTag$.tagsByPageIndex" style="font-size: unset;"
             (click)="getQaByTag(tag.tagId)">{{tag.name}}</p>
        </div>

      </div>

      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>

  </main>
</div>
<!-- ################################################################################################ -->
<!-- footer-->


