<!--<app-header></app-header>-->
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" routerLink="/article-page" routerLinkActive="active">Kiến thức</a>
            <ul>
              <li><a href="">Kỹ thuật trồng</a></li>
              <li><a href="">Thu hoạch & Bảo quản</a></li>
              <li><a href="">Phân bón</a></li>
              <li><a href="">Thuốc bảo vệ thực vật</a></li>
              <li><a href="">Sâu bệnh</a></li>
              <li><a href="">Kỹ thuật nhân giống</a></li>
              <li><a href="">Giống cây</a></li>
            </ul>
          </li>
          <li><a href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a>Liên hệ</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3" style="background: #f2f2f2">
  <main class="hoc container clear" style="padding-top: 0%;background-color: #FFFFFF;max-width: 75%;width: 100%;">
    <!-- ################################################################################################ -->

    <!--Content -->
    <div class="content three_quarter first">

      <ul style="margin-bottom: unset;">
        <!--QA -->
        <li style="color: black;margin-bottom: 0px;border-bottom: groove;margin-top: 10px;padding: 15px 15px 0 15px;">
          <article>
            <header>
              <figure class="avatar" style="float: left;"><img *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==true"
                                                                                 src="../../assets/images/demo/avatar.png" alt="">
                <img *ngIf="qa$.appUser==null"
                     src="../../assets/images/demo/avatar.png" alt="">
                <img *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==false"
                     src="{{qa$.appUser.socialUser.photoUrl}}" alt="">
              </figure>
              <address style="text-align: left;font-size: 12px;color: dodgerblue;margin-left: 15%;">
                <a *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==true">anonymous </a>
                <a *ngIf="qa$.appUser==null">anonymous </a>
                <a *ngIf="qa$.appUser!=null&&qa$.appUser.anonymous==false">{{qa$.appUser.socialUser.name}}</a>
                <time style="font-size: 13px;float: right "><span style="color: #7c7f85 !important;">Ngày đăng:</span>{{qa$.utilTimestamp
                  | date: 'yyyy-MM-dd'}}
                </time>
              </address>
              <h3 style="font-family: 'Times New Roman';text-align: left;padding-top: 8px;margin-left: 15%;
                  font-weight: bold;font-size: 19px;overflow: hidden;white-space: pre-wrap;">
                <a href="#" class="title-qa" routerLink="" routerLinkActive="active">{{qa$.title}}</a>
              </h3>
            </header>
            <div class="comcont" style="margin-top: 2%">
              <p innerHTML="{{qa$.content}}" style="max-width: 100% !important;text-align: left;color: grey"></p>
            </div>
            <div class="question-tag">

              <p *ngFor="let tag of qa$.tags" style="padding: 0% 1% !important;">{{tag.name}}</p>

            </div>

            <!--<div class="question-footer">-->
              <!--<button style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a> Thích</a>-->
              <!--</button>-->
              <!--<button style="padding-top: 3px;" class="btn like share"><i class="fa fa-share"></i><a-->
                <!--(click)="facebookSharing(shareObj)">-->
                <!--Chia sẻ</a>-->
              <!--</button>-->
            <!--</div>-->
            <div class="question-footer">
              <div *ngIf="!checkLikeButton$" style="padding-top: 3px; cursor: pointer" (click)="upvoteQuestion(qa$.questionId)"><i class="fa fa-heart icon-like"></i><a>Thích</a></div>
              <div *ngIf="checkLikeButton$" style="padding-top: 3px; cursor: pointer" (click)="upvoteQuestion(qa$.questionId)"><i class="fa fa-heart icon-like"></i><a>Đã thích</a></div>
              <div style="padding-top: 3px; cursor: pointer" (click)="facebookSharing(shareObj)"><i class="fa fa-heart icon-like"></i><a>Chia sẻ</a></div>
            </div>

            <div class="report-delete">
              <div *ngIf="checkAuthen()" style="border: none;cursor: pointer;"><i class="fa fa-edit"></i><a (click)="edit(qa$)">Chỉnh sửa câu hỏi</a>
              </div>
              <div *ngIf="checkAuthen()" style="border: none;cursor: pointer;"><i class="fa fa-delicious"></i><a (click)="deleteQa(qa$.questionId)">Xóa câu
                hỏi</a></div>
              <div *ngIf="!checkAuthen()" style="border: none;cursor: pointer;"><i class="fa fa-edit"></i><a (click)="reportQa(qa$)">Báo cáo câu hỏi</a>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <div>
        <div style="border-bottom: 1.5px solid #9E9E9E;margin-left: 3%">
          <h4 class="numberAns">{{getNumber(qa$.answers)}} Câu trả lời</h4>
        </div>
        <!--Answer -->

        <div style="margin-top: 50px;">
          <ul style="margin-top: -7px;margin-bottom: unset;">
            <!--QA -->
            <li *ngFor="let answer of qa$.answers"
                style="color: black;margin-bottom: 0px;border-bottom: groove;margin-top: 10px;padding: 15px 15px 0 15px;">
              <article>
                <header>
                  <figure class="avatar" style="float: left;"><img *ngIf="answer.appUser!=null&&answer.appUser.anonymous==true"
                                                                   src="../../assets/images/demo/avatar.png" alt="">
                    <img *ngIf="answer.appUser==null"
                         src="../../assets/images/demo/avatar.png" alt="">
                    <img *ngIf="answer.appUser!=null&&answer.appUser.anonymous==false"
                         src="{{answer.appUser.socialUser.photoUrl}}" alt="">
                  </figure>
                  <address style="text-align: left;font-size: 12px;color: dodgerblue;margin-left: 10%">
                    <a href="#">Anonymous</a> <!--Name of user -->
                    <p style="max-width: 100%;">
                      <time style="font-size: 13px; "><span style="color: #7c7f85 !important;">Ngày đăng:</span>
                        {{answer.utilTimestamp | date: 'yyyy-MM-dd'}}
                      </time>
                    </p>
                  </address>

                </header>
                <div class="comcont">
                  <p style="max-width: 100% !important;text-align: left;color: grey">{{answer.content}}</p>
                </div>

                <div class="question-footer">
                  <button *ngIf="!checkUpvoteAnswer(answer)" (click)="upvoteAnswer(answer.answerId)" style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a> Thích</a>
                  </button>
                  <button *ngIf="checkUpvoteAnswer(answer)" (click)="upvoteAnswer(answer.answerId)" style="padding-top: 3px;" class="btn like"><i class="fa fa-heart icon-like"></i><a>Đã thích</a>
                  </button>
                    <button style="padding-top: 3px;" class="btn like share"><i class="fa fa-share"></i><a
                    (click)="facebookSharing(shareObj)">
                    Chia sẻ</a>
                  </button>
                  <button (click)="pop(answer)">AAAAAAAA</button>
                </div>
                <div class="report-delete">
                  <div *ngIf="checkAuthenAnswer(answer)" style="border: none;cursor: pointer;" [ngx-scroll-to]="editAns"><i class="fa fa-google"></i><a (click)="editAnswer(answer)">Chỉnh sửa câu trả
                    lời</a></div>
                  <div *ngIf="checkAuthenAnswer(answer)" style="border: none;cursor: pointer;"><i class="fa fa-google"></i><a (click)="deleteAnswer(answer.answerId)">Xóa câu
                    trả lời</a></div>
                </div>
              </article>
            </li>
          </ul>
        </div>


        <!--add answer -->
        <div>
          <div>
            <h3 #editAns>Ý kiến của bạn</h3>
            <form *ngIf="!checkEditAnswer">
              <div class="centent-comment">
                <textarea id="contentOfAnswer" style="width: 100%;" placeholder="Nhập ý kiến của bạn..."
                          #AnsContent></textarea>
              </div>
              <div class="user-infor">
                <button (click)="addAnswers(AnsContent.value)" type="button" class="addAnswer">
                  Đăng
                </button>
              </div>
            </form>
            <form *ngIf="checkEditAnswer">
              <div class="centent-comment">
                <textarea id="contentOfAnswer" style="width: 100%;"
                          #AnsContent>{{editAnswer$.content}}</textarea>
              </div>
              <div class="user-infor">
                <button (click)="updateAnwer(AnsContent.value)" type="button" class="addAnswer">
                  Cập nhật
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- menu right side -->
    <div class="sidebar one_quarter" style=" margin-left: 1.5%;">
      <!-- ################################################################################################ -->
      <div class="div-menu-right">
        <div class="ask-place" onclick="">
          <a href="/qa-page-post" class="ask-button">Đặt câu hỏi</a>
        </div>
      </div>
      <div class="sdb_holder" style="margin-bottom: 0px;">
        <article class="top-article">
          <ul class="title-menu-right">

          </ul>
          <!--Top question -->
          <p class="title-menu-right">
            <img src="../../assets/images/question_icon.png" style="height: 20px;padding-right: 15px;">Top Questions
          </p>
          <ul *ngFor="let item of getObjectTopQa$.qa" id="top-question" style="padding-top: 25px;padding-left: 5px;">
            <li>
              <span><a><img src="../../assets/images/demo/avatar.png" class="image-user"> </a></span>
              <div class="title-article"><a (click)="navigate(item)" style="cursor: pointer"> {{item.title}}</a></div>
              <div>
                <span class="top-article-view"><a >{{getNumber(item.answers)}} trả lời</a></span>
                <span class="top-article-view"><a >{{item.viewCount}} lượt xem</a></span>
              </div>
            </li>
          </ul>
        </article>
      </div>
      <div class="top-tag">
        <p class="title-menu-right">
          <img src="../../assets/images/tag-icon.png" style="height: 20px;padding-right: 15px;">Top tags
        </p>
        <div class="question-tag">
          <p *ngFor="let tag of getObjectTopTag$.tagsByPageIndex" style="font-size: unset;" (click)="getQaByTag(tag.tagId)">{{tag.name}}</p>
        </div>

      </div>

      <!--Top user -->
      <div>
        <p class="title-menu-right" style="padding-left: 4%;">
          <img src="../../assets/images/users.png" style="height: 20px;padding-right: 15px;">Top người dùng
        </p>
        <ul class="top-user">
          <li *ngFor="let item of getObjectTopUser$.appUsersByPageIndex">
            <span><a><img src="../../assets/images/demo/avatar.png" class="image-user"> </a></span>
            <div class="title-article"><a>{{item.socialUser.firstName}}</a></div>
            <span style="padding: 0 35px;"><a>{{item.reputation}} điểm</a></span>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>

  </main>
</div>
<!-- ################################################################################################ -->
<!-- footer-->
<div class="wrapper row4 bgded overlay" style="background-image:url('https://storage.googleapis.com/sonson-1-bucket/images.jpg');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line">  Lê Thu Hà</li>
        <li class="space_line">  Nguyễn Phúc Minh Sơn</li>
        <li class="space_line">  Nguyễn Duy Hiển</li>
        <li class="space_line">  Trần Hồng Quỳnh</li>
        <li class="space_line">  Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Ngày phát hành</a></h6>
          <time class="font-xs block btmspace-10" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>

