
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a class="drop" href="/article-page" routerLinkActive="active">Kiến thức</a>
            <ul>
              <li><a href="">Kỹ thuật trồng</a></li>
              <li><a href="">Thu hoạch & Bảo quản</a></li>
              <li><a href="">Phân bón</a></li>
              <li><a href="">Thuốc bảo vệ thực vật</a></li>
              <li><a href="">Sâu bệnh</a></li>
              <li><a href="">Kỹ thuật nhân giống</a></li>
              <li><a href="">Giống cây</a></li>
            </ul>
          </li>
          <li><a  href="/qa-page" routerLinkActive="active">Hỏi - Đáp</a></li>
          <li><a  href="#">Liên hệ</a></li>

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <main id="pageintro" class="hoc container clear" style="background-color: #f2f2f2;max-width: 75%;width: 100%;">

    <!--menu left side -->
    <nav class="sidebar one_quarter first">
      <div class="div-menu-left">
        <img  src="{{appUser$.socialUser.photoUrl}}" style="border-radius: 50%;" >
        <input *ngIf="!change$" value="{{appUser$.socialUser.firstName}}"   readonly>
        <input *ngIf="!change$" value="{{appUser$.socialUser.email}}"  style="font-weight: unset;"  readonly>
        <input *ngIf="!change$" value="{{appUser$.cvUrl}}" style="font-weight: unset;text-align:left" placeholder="Link CV" readonly >

        <input #nameUser *ngIf="change$" value="{{appUser$.socialUser.firstName}}"  >
        <input #emailUser *ngIf="change$" value="{{appUser$.socialUser.email}}"  style="font-weight: unset;"  >
        <input #linkCV *ngIf="change$" value="{{appUser$.cvUrl}}" style="font-weight: unset;text-align:left" placeholder="Link CV"  >

        <div class="buttin-logout">
          <div class="btn btn-info btn-lg">
            <div *ngIf="!change$" class="glyphicon glyphicon-log-out" (click)="updateUser()">Chỉnh sửa</div>

            <div *ngIf="change$" (click)="saveUserInfo(nameUser.value,emailUser.value,linkCV.value);reUpdateUser()">Lưu</div>
          </div>
        </div>
      </div>

      <div>
        <table class="table-user">

          <tbody>
          <tr class="table-report-first" style="">
            <td>Số câu hỏi</td>
            <td class="number-user"> {{totalQuestionOfuser$}}</td>
          </tr>
          <tr class="table-report-first">
            <td>Số câu trả lời</td>
            <td class="number-user">{{totalAnswerOfUser$}}</td>

          </tr>
          <tr class="table-report-first">
            <td>Số tags</td>
            <td class="number-user">{{getTotalTagOfUser$}} </td>

          </tr>

          <tr class="table-report-first">
            <td>Tổng điểm</td>
            <td class="number-user">{{totalScore$}}</td>

          </tr>
          </tbody>
        </table>
      </div>



    </nav>

    <!--Content -->
    <div class="content three_quarter" style="border-left: 5px solid white;margin-left: 0%;padding-left: 2%;">
      <!--Content -->
      <nav id="comments" style="">
        <div class="manage-display">
          <!--//thống kê-->


          <div style="border-bottom: 2px solid #b53f3f2e;">
            <div id="chartContainerUser" style="height: 370px; width: 100%;">

            </div>

          </div>


          <!--Số liệu-->
          <!--tags -->
          <div id="report-tags">
            <div style="display: -webkit-box;padding-bottom: 1.5%;;">
              <h3>Tags</h3>

            </div>
            <div id="span-tags" >
              <span class="tag-infor" *ngFor="let object of getTopTagOfUser$.tagsByPageIndex" ><a href="" class="name-tag">{{object.name}}</a>
                <span class="infor-tag">Điểm: {{object.reputation}} </span> <!-- -->
                <span class="infor-tag">Lượt xem: {{object.viewCount}}</span> <!---->
              </span>
            </div>
            <div>
              <h5 style="text-transform: none;float: right;"><a href="/all-tag-user">Xem tất cả tags ở đây -></a></h5>
            </div>
          </div>
          <!--tags -->

          <!--Question -->
          <div id="report-question">
            <div style="display: -webkit-box;">
              <h3>Câu hỏi ({{totalQuestionOfuser$}})</h3>
              <select style="width: auto;margin: 10%;" (change)="sortBy($event.target.value)" >
                <option value="viewCount">Sắp xếp theo lượt xem</option>
                <option value="upvoteCount ">Sắp xếp theo lượt thích </option>
                <option value="date">Sắp xếp theo thời gian </option>
              </select>
            </div>
            <table id="table-report">
              <tr class="table-report-first" *ngFor="let qa of getTopQuestionOfUser$.qa" >
                <td style="padding-top: 15px;"><span class="icon"> {{qa.viewCount}}</span><a
                  href="">{{qa.title}}</a></td>
                <td class="time-user-detail">{{qa.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
              </tr>

            </table>
            <div>
              <h5 style="text-transform: none;float: right;"><a href="/all-question-user">Xem tất cả câu hỏi ở đây -></a></h5>
            </div>
          </div>



          <!--end số liệu -->
        </div>

      </nav>

    </div>

    <!-- -->
    <div class="clear"></div>
  </main>

</div>
<!-- ################################################################################################ -->
<!-- footer-->
<!-- ################################################################################################ -->
<!-- footer-->
<div class="wrapper row4 bgded overlay"
     style=" background-image:url('https://storage.googleapis.com/sonson-1-bucket/images.jpg');" #aboutUs>
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">FPT DEVELOPER TEAM</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            FPT UNIVERSITY
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + (89) 947 939 762</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> smartfarming@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading tittFooter">THÀNH VIÊN</h6>
      <ul>
        <li class="space_line"> Lê Thu Hà</li>
        <li class="space_line"> Nguyễn Phúc Minh Sơn</li>
        <li class="space_line"> Nguyễn Duy Hiển</li>
        <li class="space_line"> Trần Hồng Quỳnh</li>
        <li class="space_line"> Ngô Xuân Tính</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">SMART FARMING</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Ngày phát hành</a></h6>
          <time class="font-xs block btmspace-10" datetime="2019-04-06">Friday, 6<sup>th</sup> April 2019</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>




