<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <ngx-loading [show]="loading"
               [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, fullScreenBackdrop: true}"
               [template]="loadingTemplate"></ngx-loading>
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear" style="margin-top: 3%;font-size: 17px">
          <li class="active"><a href="index.html" (click)="click()">Trang chủ</a></li>
          <li><a class="drop" href="article-page/app-trang-chinh" (click)="click()">Kiến thức</a>
            <ul>
              <li><a href="article-page/app-ki-thuat-trong" (click)="click()">Kỹ thuật trồng</a></li>
              <li><a href="article-page/app-thu-hoach-va-bao-quan" (click)="click()">Thu hoạch & Bảo quản</a></li>
              <li><a href="article-page/app-phan-bon" (click)="click()">Phân bón</a></li>
              <li><a href="article-page/app-thuoc-bao-ve-thuc-vat" (click)="click()">Thuốc bảo vệ thực vật</a></li>
              <li><a href="article-page/app-sau-benh" (click)="click()">Sâu bệnh</a></li>
              <li><a href="article-page/app-ky-thuat-nhan-giong" (click)="click()">Kỹ thuật nhân giống</a></li>
              <li><a href="article-page/app-giong-cay" (click)="click()">Giống cây</a></li>
              <li><a href="article-page/app-trang-chinh" (click)="click()">Chủ đề nổi bật</a></li>
            </ul>
          </li>
          <li><a href="/qa-page" routerLinkActive="active" (click)="click()">Hỏi - Đáp</a></li>
          <!--<li><a (click)="click()">Liên hệ</a></li>-->

        </ul>

      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <main id="pageintro" class="hoc container clear" style="background-color: #f2f2f2;max-width: 75%;width: 100%;">

    <!--menu left side -->
    <nav class="sidebar one_quarter first">
      <div class="div-menu-left">
        <div *ngIf="!isFlatEdit">
          <img src="{{srcImg}}" style="border-radius: 50%;">
          <input [(ngModel)]="nameUserInput" [ngModelOptions]="{standalone: true}" readonly/>
          <input style="font-weight: unset;" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}" readonly/>
          <span style="float: left;margin-left: 2.5%;">Link CV: </span>
          <a *ngIf="check" style="font-weight: unset;text-align:left" [(ngModel)]="linkCV"
             [ngModelOptions]="{standalone: true}" href="{{linkCV}}">{{linkCV}}</a>
          <input *ngIf="!check" style="font-weight: unset;text-align:left" [(ngModel)]="linkCV"
                 [ngModelOptions]="{standalone: true}"/>
        </div>
        <div *ngIf="isFlatEdit">
          <img src="{{srcImg}}" style="border-radius: 50%;">
          <input [(ngModel)]="nameUserInput" [ngModelOptions]="{standalone: true}"/>
          <input style="font-weight: unset;" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}"/>
          <a><input style="font-weight: unset;text-align:left" placeholder="Tải lên CV(.jpg .pdf)" [(ngModel)]="linkCV"
                    [ngModelOptions]="{standalone: true}" type="file" id="picked" #picked (change)="onPicked($event)"/></a>

        </div>
        <div class="buttin-logout">
          <div class="btn btn-info btn-lg" *ngIf="checkAuthenEdit(appUserGG$)">
            <div *ngIf="!isFlatEdit" class="glyphicon glyphicon-log-out"
                 (click)="updateUser()">Chỉnh sửa
            </div>
            <div *ngIf="isFlatEdit" (click)="saveUserInfo();">Lưu</div>
          </div>
        </div>
      </div>

      <div>
        <table class="table-user">

          <tbody>
          <tr class="table-report-first" style="">
            <td>Số câu hỏi</td>
            <td class="number-user"> {{totalQuestionOfuser$}}</td>
          </tr>
          <tr class="table-report-first">
            <td>Số câu trả lời</td>
            <td class="number-user">{{totalAnswerOfUser$}}</td>

          </tr>
          <tr class="table-report-first">
            <td>Số tags</td>
            <td class="number-user">{{getTotalTagOfUser$}}</td>

          </tr>

          <tr class="table-report-first">
            <td>Tổng điểm</td>
            <td class="number-user">{{totalScore$}}</td>

          </tr>
          </tbody>
        </table>
      </div>


    </nav>

    <!--Content -->
    <div class="content three_quarter" style="border-left: 5px solid white;margin-left: 0%;padding-left: 2%;">
      <!--Content -->
      <nav id="comments" style="">
        <div class="manage-display">
          <!--//thống kê-->


          <div style="border-bottom: 2px solid #b53f3f2e;">
            <div id="chartContainerUser" style="height: 370px; width: 100%;">

            </div>

          </div>


          <!--Số liệu-->
          <!--tags -->
          <div id="report-tags">
            <div style="display: -webkit-box;padding-bottom: 1.5%;;">
              <h3>Top từ khóa </h3>

            </div>


            <div id="span-tags" style="min-height: 5rem;" *ngIf="getTopTagOfUser$ != null" >
              <div class="tag-infor" *ngFor="let object of getTopTagOfUser$.tagsByPageIndex"
                   style="display: block;flex: 1 auto;min-width: 35rem;margin: 2% 0%">
                <span class="name-tag" style="background: #E1ECF4;">{{object.name}}</span>
                <span class="infor-tag">Điểm: {{object.reputation}} </span> <!-- -->
                <span class="infor-tag">Lượt xem: {{object.viewCount}}</span> <!---->
              </div>
            </div>

            <div>
              <h5 style="text-transform: none;float: right;"><a style="cursor: pointer;" (click)="goToAllTagUser()">Xem
                tất cả tags ở đây -></a></h5>
            </div>
          </div>
          <!--tags -->

          <!--Question -->
          <div id="report-question">
            <div style="display: -webkit-box;">
              <h3>Top câu hỏi <!--({{totalQuestionOfuser$}})--></h3>
              <select style="width: auto;margin: 10%;" (change)="sortBy($event.target.value)">
                <option value="viewCount">Sắp xếp theo lượt xem</option>
                <option value="upvoteCount ">Sắp xếp theo tổng điểm</option>
                <option value="date">Sắp xếp theo thời gian</option>
              </select>
            </div>
            <table id="table-report">
              <tr>

                <th style="color: black;background-color: #c2c2c2">Tiêu đề câu hỏi</th>
                <th style="color: black;background-color: #c2c2c2">Lượt xem</th>
                <th style="color: black;background-color: #c2c2c2">Tổng điểm</th>
                <th style="color: black;background-color: #c2c2c2">Ngày đăng</th>
              </tr>
              <tr class="table-report-first" *ngFor="let qa of getTopQuestionOfUser$.qa">

                <td style="padding-top: 15px;cursor: pointer"><a (click)="questionDetail(qa)">{{qa.title}}</a></td>
                <td style="text-align: center">{{qa.viewCount}}</td>
                <td style="text-align: center" *ngIf="qa.reputation != null">{{qa.reputation}}</td>
                <td style="text-align: center" *ngIf="qa.reputation == null">0</td>
                <td class="time-user-detail">{{qa.utilTimestamp | date: 'yyyy-MM-dd'}}</td>
              </tr>

            </table>
            <div>
              <h5 style="text-transform: none;float: right;"><a (click)="goToAllQuestionuser()" style="cursor: pointer">
                Xem tất cả câu hỏi ở đây -></a></h5>
            </div>
          </div>


          <!--end số liệu -->
        </div>

      </nav>

    </div>

    <!-- -->
    <div class="clear"></div>
  </main>

</div>
<!-- ################################################################################################ -->
<!-- footer-->
<!-- ################################################################################################ -->
<!-- footer-->

