<div class="wrapper row0" style="height: 35px">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul style="margin-top: -7px;">
      <li><i class="fa fa-clock-o"></i> Mon. - Fri. 8am - 5pm</li>
      <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
      <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
      <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- Phan Link dia chi lien ket hoi dap ... -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Phan trang chu hien thi thong tin, background ....-->
<div class="bgded overlay" style="background: #f2f2f2 !important;">
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background: rgba(0,0,0,.6)">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">FPT developer Team</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">Kiến thức</a>
            <ul>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Kiến thức</a></li>
              <li><a href="">Basic Grid</a></li>

            </ul>
          </li>

          <li><a routerLink="/article-page" routerLinkActive="active">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<div class="wrapper row3">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear" style="background-color: #f2f2f2">

    <!--menu left side -->
    <nav class="menu-left-qa">
      <div class="div-menu-left">
        <img src="../../assets/images/demo/backgrounds/02.png">
        <h5>Tên tài khoản</h5>
        <h5 style="font-weight: unset;">ngoxuantinh97@gmail.com</h5>
        <h5 style="font-weight: unset;">Tài khoản facebook(Nếu có)</h5>
      </div>
      <div>
        <table class="table-user">
          <tbody>
          <tr class="table-report-first" style="">
            <td>Số câu hỏi</td>
            <td class="number-user"> 100</td>
          </tr>
          <tr class="table-report-first">
            <td>Số câu trả lời</td>
            <td class="number-user">100</td>

          </tr>
          <tr class="table-report-first">
            <td>Số tags</td>
            <td class="number-user">100</td>

          </tr>
          <tr class="table-report-first">
            <td>Số lượt report</td>
            <td class="number-user">100</td>

          </tr>
          <tr class="table-report-first">
            <td>Yêu cầu chỉnh sửa</td>
            <td class="number-user">100</td>

          </tr>
          <tr class="table-report-first">
            <td>Tổng điểm</td>
            <td class="number-user">100</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <img src="../../assets/images/demo/time-1606153_960_720.png" style="height: 20px;margin: 2%;" >
        <span style="font-size: 14px;">Là thành viên từ 11/11/2019</span>
      </div>
      <p class="buttin-logout">
        <a class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out">Log out</span>
        </a>
      </p>

    </nav>


    <div class="content-right">
      <!--Content -->
      <nav id="comments" style="width: 80%;float: left !important;margin-left: 20%;">
        <div class="manage-display">
          <!--//thống kê-->


          <div style="border-bottom: 2px solid #b53f3f2e;">
            <div id="chartContainerUser" style="height: 370px; width: 100%;">

            </div>
            <div style="display: inline-flex;">
              <h5 style="text-transform: none;"> * Chú thích</h5>
              <svg width="50px" height="50px">
                <line x1="50" y1="10" x2="0" y2="10" style="stroke:#8BC34A;stroke-width:2"></line>
              </svg>
              <p style="margin-top: 10px;">Số tags</p>
              <svg width="50px" height="50px">
                <rect width="50px" height="25px" style="fill:rgb(99,99,194);stroke-width:3;"/>
              </svg>
              <p style="margin-top: 10px;">Số câu hỏi</p>
              <svg width="50px" height="50px">
                <rect width="50px" height="25px" style="fill:rgb(161, 62, 55);stroke-width:3;"/>
              </svg>
              <p style="margin-top: 10px;">Số câu trả lời</p>
            </div>
          </div>


          <!--Số liệu-->
          <!--tags -->
          <div id="report-tags">
            <div style="display: -webkit-box;padding-bottom: 1.5%;;">
              <h3>Tags</h3>

            </div>
            <div id="span-tags">
              <span class="tag-infor"><a href="#" class="name-tag">tag</a> <span class="infor-tag">100 Điểm</span></span>
              <span class="tag-infor"><a href="#" class="name-tag">tag</a> <span class="infor-tag">100 Điểm</span></span>
              <span class="tag-infor"><a href="#" class="name-tag">tag</a> <span class="infor-tag">100 Điểm</span></span>
              <span class="tag-infor"><a href="#" class="name-tag">tag</a> <span class="infor-tag">100 Điểm</span></span>

            </div>
          </div>
          <!--tags -->

          <!--Question -->
          <div id="report-question">
            <div style="display: -webkit-box;">
              <h3>Câu hỏi (100)</h3>
              <select style="width: auto;margin: 10%;" >
                <option>Sắp xếp theo lượt thích</option>
                <option>Sắp xếp theo thời gian</option>
              </select>
            </div>
            <table id="table-report">
              <tr class="table-report-first">
                <td style="padding-top: 15px;"><span class="icon">100</span><a
                  href="#">Title câu hỏi</a></td>
                <td class="time-user-detail">2019-01-01</td>
              </tr>
              <tr>
                <td><span class="icon">100</span><a href="#">Title câu hỏi</a></td>
                <td class="time-user-detail"> 2019-01-01</td>
              </tr>
              <tr>
                <td><span class="icon">100</span><a href="#">Title câu hỏi</a></td>
                <td class="time-user-detail">2019-01-01</td>
              </tr>
            </table>
          </div>
          <!--Question end -->
          <!-- Edit bài viết -->
          <div id="report-edit">
            <div style="display: -webkit-box;">
              <h3>Yêu cầu chỉnh sửa (100)</h3>
              <select style="width: auto;margin: 10%;" >
                <option>Sắp xếp theo lượt thích</option>
                <option>Sắp xếp theo thời gian</option>
              </select>
            </div>
            <table id="table-report-edit">
              <tr class="table-report-first">
                <td style="padding-top: 15px;"><span class="icon">100</span><a
                  href="#">Title câu hỏi</a></td>
                <td class="time-user-detail">2019-01-01</td>
              </tr>
              <tr>
                <td><span class="icon">100</span><a href="#">Title câu hỏi</a></td>
                <td class="time-user-detail"> 2019-01-01</td>
              </tr>
              <tr>
                <td><span class="icon">100</span><a href="#">Title câu hỏi</a></td>
                <td class="time-user-detail">2019-01-01</td>
              </tr>
            </table>
          </div>
          <!-- Edit bài viết -->


          <!--end số liệu -->
        </div>

      </nav>

    </div>

    <!-- chia trang -->
  </div>

</div>
<!-- ################################################################################################ -->
<!-- footer-->
<div class="wrapper row4 bgded overlay"
     style="background-image:url('../../assets/images/demo/backgrounds/04.png')!important; ;">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Commodo et blandit quis</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Neque phasellus fermentum</h6>
      <p class="nospace btmspace-30">Ac ante ipsum tincidunt dui eget lorem egestas ut ultricies felis suscipit.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Sem ipsum auctor dignissim</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="../images/demo/320x168.png" alt=""></a>
        <figcaption>
          <h6 class="nospace font-x1"><a href="#">Tortor congue quis arcu</a></h6>
          <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>




