.all-tag{
  padding: 0% 2%;
}
/*phân trang*/
/*############################################################################################*/
.pagination {
  display: inline-block;
  cursor: pointer;
  width: auto !important;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;


}
.phan-trang {
  position: inherit;
  padding: 10px 35px 0 35px;
  width: 100%;
  text-align: center;
}
/*################################################################################################*/
table > tbody > tr:first-child {
  font-size: 16px;
  color: #454545;
  outline: 1px solid #6A6A6A;
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  text-align: center;
}
.highlight {
  background-color: #3e3bf1 !important;
  color: white !important;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: lightblue !important;
  margin-bottom: 0% !important;
  padding: 2%;
}
